{% extends "twigs/utility_template.twig" %}

{% block content %}

	<h1>Change Password</h1>

	{% if message %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endif %}

	<form action="/user/reset_password/{{ code }}" method="post" data-loading-text="loading...">
		<div class="form-group">
			<input class="form-control" type="password" placeholder="New password" name="new" />
		</div>
		<div class="form-group">
			<input class="form-control" type="password" placeholder="Confirm new password" name="new_confirm" />
		</div>
		<input type="hidden" name="user_id" value="{{ user_id }}">
		<input type="hidden" name="csrf" value="{{ csrf }}">
		<button class="btn btn-lg btn-block btn-primary" role="button" type="submit">Change password</button>
	</form>

{% endblock %}
