a {
	cursor: pointer;
}

.hidden {
	display: none;
}

.text-rtl {
	direction: rtl;
}

.custom-file-label::after {
	height: auto;
}

.selectize-input {
	border-color: #E9EEF2 !important;
	font-size: .875rem !important;
	border-radius: 0.5rem !important;
	vertical-align: middle;
}

.selectize-dropdown {
	font-size: .875rem !important;
}

.selectize-control.single .selectize-input:after {
	border-color: #495057 transparent transparent transparent !important;
}

.selectize-control.col, .selectize-control.col-sm {
	padding: 0 !important;
}

.revision-header {
	cursor: pointer;
}

.revision-content del {
	color: white;
	background: #e25d69;
	padding: 1px 5px;
}

.revision-content ins {
	color: white;
	background: #57b36c;
	font-weight: 500;
	padding: 1px 4px;
	text-decoration: none;
}

.revision-content ins:empty, .revision-content del:empty {
	display: none;
}

.banner {
	background-image:url(/assets/img/banner.jpg);
	background-size: cover;
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

.banner .display-4 {
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

.btn-xs {
	padding: 0.10rem 0.5rem !important;
	font-size: 75%;
}

/*************************************************
/*  Styling content pages (agreements)
/*************************************************

/* hide original list counter */
ol.content-list ol>li {display:block;} 
ol.content-list h2 {display:inline;} 
/* OR */
ol.content-list {list-style:none;}  

ol.content-list > li:first-child {counter-reset: item;} /* reset counter */
ol.content-list > li {counter-increment: item; margin-top: 1em} /* increment counter */
ol.content-list > li:before {content:counters(item, ".") ". "; font-weight:bold;} /* print counter */

ol.content-list h3 {display:inline; font-size: 1em;} 

dl.inline {
	margin-left: 1em;	
}
dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  font-weight: bold;
}
dl.inline dt:before{
  content: "• ";
}
.list-letter {
	list-style: lower-alpha;
}

.footer-logo {
	max-width: 200px;
}

.partner-icon {
	max-width: 160px;
}

/* Products list */
.products-sort-by {
  margin-left: 20px;
}

.col-md-6.box {
  padding-right: 20px !important;
}

.selectize-control.single .selectize-input:after {
  right: 10px !important;
}

@media screen and (max-width: 576px) {
  .selectize-control.col-sm {
    padding-left: 10px !important;
  }
}