a {
	cursor: pointer;
}

.hidden {
	display: none;
}

.custom-file-label::after {
	height: auto;
}

.selectize-input {
	border-color: #E9EEF2 !important;
	font-size: .875rem !important;
	border-radius: 0.5rem !important;
	vertical-align: middle;
}

.selectize-dropdown {
	font-size: .875rem !important;
}

.selectize-control.single .selectize-input:after {
	border-color: #495057 transparent transparent transparent !important;
}

.selectize-control.col {
	padding: 0 !important;
}

.revision-header {
	cursor: pointer;
}

.revision-content del {
	color: white;
	background: #e25d69;
	padding: 1px 5px;
}

.revision-content ins {
	color: white;
	background: #57b36c;
	font-weight: 500;
	padding: 1px 4px;
	text-decoration: none;
}

.revision-content ins:empty, .revision-content del:empty {
	display: none;
}

.banner {
	background-image:url(/assets/img/banner.jpg);
	background-size: cover;
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

.banner .display-4 {
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
}

.resolve-error {
	padding: 0.10rem 0.5rem !important;
	font-size: 75%;
}