<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?aid style="50" type="document" readerVersion="6.0" featureSet="257" product="11.4(102)" ?>
<Document xmlns:idPkg="http://ns.adobe.com/AdobeInDesign/idml/1.0/packaging" DOMVersion="11.4" Self="d" StoryList="uf0 u106 u11c u132 u148 u15e u174 u18a u1a0 u91" ZeroPoint="0 0" ActiveLayer="ub3" CMYKProfile="Coated FOGRA39 (ISO 12647-2:2004)" RGBProfile="sRGB IEC61966-2.1" SolidColorIntent="UseColorSettings" AfterBlendingIntent="UseColorSettings" DefaultImageIntent="UseColorSettings" RGBPolicy="PreserveEmbeddedProfiles" CMYKPolicy="CombinationOfPreserveAndSafeCmyk" AccurateLABSpots="false">
    <Properties>
        <Label>
            <KeyValuePair Key="kAdobeDPS_Version" Value="2" />
        </Label>
    </Properties>
    <Language Self="Language/$ID/de_DE_2006" Name="$ID/de_DE_2006" SingleQuotes="‚‘" DoubleQuotes="„“" PrimaryLanguageName="$ID/de_DE_2006" SublanguageName="$ID/" Id="275" HyphenationVendor="Hunspell" SpellingVendor="Hunspell" />
    <idPkg:Graphic src="Resources/Graphic.xml" />
    <idPkg:Fonts src="Resources/Fonts.xml" />
    <idPkg:Styles src="Resources/Styles.xml" />
    <NumberingList Self="NumberingList/$ID/[Default]" Name="$ID/[Default]" ContinueNumbersAcrossStories="false" ContinueNumbersAcrossDocuments="false" />
    <NamedGrid Self="NamedGrid/$ID/[Page Grid]" Name="$ID/[Page Grid]">
        <GridDataInformation FontStyle="Regular" PointSize="12" CharacterAki="0" LineAki="9" HorizontalScale="100" VerticalScale="100" LineAlignment="LeftOrTopLineJustify" GridAlignment="AlignEmCenter" CharacterAlignment="AlignEmCenter">
            <Properties>
                <AppliedFont type="string">Minion Pro</AppliedFont>
            </Properties>
        </GridDataInformation>
    </NamedGrid>
    <idPkg:Preferences src="Resources/Preferences.xml" />
    <LinkedStoryOption UpdateWhileSaving="false" WarnOnUpdateOfEditedStory="true" RemoveForcedLineBreaks="false" ApplyStyleMappings="false" />
    <LinkedPageItemOption UpdateLinkWhileSaving="false" WarnOnUpdateOfEditedPageItem="true" PreserveSizeAndShape="false" PreserveAppearance="false" PreserveInteractivity="false" PreserveFrameContent="false" PreserveOthers="false" />
    <TaggedPDFPreference StructureOrder="UseXMLStructure" />
    <WatermarkPreference WatermarkVisibility="false" WatermarkDoPrint="false" WatermarkDrawInBack="true" WatermarkText="" WatermarkFontFamily="Minion Pro" WatermarkFontStyle="Regular" WatermarkFontPointSize="48" WatermarkOpacity="50" WatermarkRotation="0" WatermarkHorizontalPosition="WatermarkHCenter" WatermarkHorizontalOffset="0" WatermarkVerticalPosition="WatermarkVCenter" WatermarkVerticalOffset="0">
        <Properties>
            <WatermarkFontColor type="enumeration">Black</WatermarkFontColor>
        </Properties>
    </WatermarkPreference>
    <ConditionalTextPreference ShowConditionIndicators="ShowIndicators" ActiveConditionSet="n" />
    <HTMLFXLExportPreference EpubPageRange="" EpubPageRangeFormat="ExportAllPages" />
    <PublishExportPreference PublishCover="FirstPage" CoverImageFile="" PublishPageRange="" PublishPageRangeFormat="ExportAllPages" ImageConversion="Automatic" ImageExportResolution="Ppi96" PublishDescription="" PublishFileName="" PublishFormat="PublishByPages" CoverPage="$ID/" GIFOptionsPalette="AdaptivePalette" JPEGOptionsQuality="High" PublishPdf="false" />
    <TextVariable Self="dTextVariablen&lt;?AID 001b?&gt;TV XRefChapterNumber" Name="&lt;?AID 001b?&gt;TV XRefChapterNumber" VariableType="XrefChapterNumberType" />
    <TextVariable Self="dTextVariablen&lt;?AID 001b?&gt;TV XRefPageNumber" Name="&lt;?AID 001b?&gt;TV XRefPageNumber" VariableType="XrefPageNumberType" />
    <TextVariable Self="dTextVariablenAusgabedatum" Name="Ausgabedatum" VariableType="OutputDateType">
        <DateVariablePreference TextBefore="" Format="dd.MM.yy" TextAfter="" />
    </TextVariable>
    <TextVariable Self="dTextVariablenBildname" Name="Bildname" VariableType="LiveCaptionType">
        <CaptionMetadataVariablePreference TextBefore="" MetadataProviderName="$ID/#LinkInfoNameStr" TextAfter="" />
    </TextVariable>
    <TextVariable Self="dTextVariablenDateiname" Name="Dateiname" VariableType="FileNameType">
        <FileNameVariablePreference TextBefore="" IncludePath="false" IncludeExtension="false" TextAfter="" />
    </TextVariable>
    <TextVariable Self="dTextVariablenErstellungsdatum" Name="Erstellungsdatum" VariableType="CreationDateType">
        <DateVariablePreference TextBefore="" Format="dd.MM.yy" TextAfter="" />
    </TextVariable>
    <TextVariable Self="dTextVariablenKapitelnummer" Name="Kapitelnummer" VariableType="ChapterNumberType">
        <ChapterNumberVariablePreference TextBefore="" Format="Current" TextAfter="" />
    </TextVariable>
    <TextVariable Self="dTextVariablenLebender Kolumnentitel" Name="Lebender Kolumnentitel" VariableType="MatchParagraphStyleType">
        <MatchParagraphStylePreference TextBefore="" TextAfter="" AppliedParagraphStyle="ParagraphStyle/$ID/NormalParagraphStyle" SearchStrategy="FirstOnPage" ChangeCase="None" DeleteEndPunctuation="false" />
    </TextVariable>
    <TextVariable Self="dTextVariablenLetzte Seitenzahl" Name="Letzte Seitenzahl" VariableType="LastPageNumberType">
        <PageNumberVariablePreference TextBefore="" Format="Current" TextAfter="" Scope="SectionScope" />
    </TextVariable>
    <TextVariable Self="dTextVariablenÄnderungsdatum" Name="Änderungsdatum" VariableType="ModificationDateType">
        <DateVariablePreference TextBefore="" Format="d. MMMM yyyy, h:mm aa" TextAfter="" />
    </TextVariable>
    <idPkg:Tags src="XML/Tags.xml" />
    <Layer Self="ub3" Name="Ebene 1" Visible="true" Locked="false" IgnoreWrap="false" ShowGuides="true" LockGuides="false" UI="true" Expendable="true" Printable="true">
        <Properties>
            <LayerColor type="enumeration">LightBlue</LayerColor>
        </Properties>
    </Layer>
    <idPkg:MasterSpread src="MasterSpreads/MasterSpread_ub4.xml" />
    <idPkg:Spread src="Spreads/Spread_ue9.xml" />
    <Section Self="uad" Length="1" AlternateLayoutLength="1" AlternateLayout="A4 V" Name="" ContinueNumbering="true" IncludeSectionPrefix="false" Marker="" PageStart="uee" SectionPrefix="">
        <Properties>
            <PageNumberStyle type="enumeration">Arabic</PageNumberStyle>
        </Properties>
    </Section>
    <DocumentUser Self="dDocumentUser0" UserName="$ID/Unknown User Name">
        <Properties>
            <UserColor type="enumeration">Gold</UserColor>
        </Properties>
    </DocumentUser>
    <CrossReferenceFormat Self="u1b5" Name="Vollständiger Absatz und Seitenzahl" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1b5BuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b5BuildingBlock1" BlockType="FullParagraphBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b5BuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“ auf Seite " AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b5BuildingBlock3" BlockType="PageNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1b6" Name="Vollständiger Absatz" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1b6BuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b6BuildingBlock1" BlockType="FullParagraphBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b6BuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1b7" Name="Absatztext und Seitenzahl" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1b7BuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b7BuildingBlock1" BlockType="ParagraphTextBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b7BuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“ auf Seite " AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b7BuildingBlock3" BlockType="PageNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1b8" Name="Absatztext" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1b8BuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b8BuildingBlock1" BlockType="ParagraphTextBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b8BuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1b9" Name="Absatznr. und Seitenzahl" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1b9BuildingBlock0" BlockType="ParagraphNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b9BuildingBlock1" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText=" auf Seite " AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1b9BuildingBlock2" BlockType="PageNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1ba" Name="Absatznr." AppliedCharacterStyle="n">
        <BuildingBlock Self="u1baBuildingBlock0" BlockType="ParagraphNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1bb" Name="Name des Textankers und Seitenzahl" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1bbBuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bbBuildingBlock1" BlockType="BookmarkNameBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bbBuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“ auf Seite " AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bbBuildingBlock3" BlockType="PageNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1bc" Name="Name des Textankers" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1bcBuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="„" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bcBuildingBlock1" BlockType="BookmarkNameBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bcBuildingBlock2" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="“" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <CrossReferenceFormat Self="u1bd" Name="Seitenzahl" AppliedCharacterStyle="n">
        <BuildingBlock Self="u1bdBuildingBlock0" BlockType="CustomStringBuildingBlock" AppliedCharacterStyle="n" CustomText="Seite " AppliedDelimiter="$ID/" IncludeDelimiter="false" />
        <BuildingBlock Self="u1bdBuildingBlock1" BlockType="PageNumberBuildingBlock" AppliedCharacterStyle="n" CustomText="$ID/" AppliedDelimiter="$ID/" IncludeDelimiter="false" />
    </CrossReferenceFormat>
    <idPkg:BackingStory src="XML/BackingStory.xml" />
    <idPkg:Story src="Stories/Story_u1a0.xml" />
    <idPkg:Story src="Stories/Story_u18a.xml" />
    <idPkg:Story src="Stories/Story_u174.xml" />
    <idPkg:Story src="Stories/Story_u15e.xml" />
    <idPkg:Story src="Stories/Story_u148.xml" />
    <idPkg:Story src="Stories/Story_u132.xml" />
    <idPkg:Story src="Stories/Story_u11c.xml" />
    <idPkg:Story src="Stories/Story_u106.xml" />
    <idPkg:Story src="Stories/Story_uf0.xml" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Symbol" Name="$ID/kIndexGroup_Symbol" Include="true" Priority="0" HeaderType="Nothing" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Alphabet" Name="$ID/kIndexGroup_Alphabet" Include="true" Priority="1" HeaderType="BasicLatin" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Numeric" Name="$ID/kIndexGroup_Numeric" Include="false" Priority="2" HeaderType="Nothing" />
    <IndexingSortOption Self="dIndexingSortOptionnkWRIndexGroup_GreekAlphabet" Name="$ID/kWRIndexGroup_GreekAlphabet" Include="false" Priority="3" HeaderType="Nothing" />
    <IndexingSortOption Self="dIndexingSortOptionnkWRIndexGroup_CyrillicAlphabet" Name="$ID/kWRIndexGroup_CyrillicAlphabet" Include="false" Priority="4" HeaderType="Russian" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Kana" Name="$ID/kIndexGroup_Kana" Include="false" Priority="5" HeaderType="HiraganaAll" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Chinese" Name="$ID/kIndexGroup_Chinese" Include="false" Priority="6" HeaderType="ChinesePinyin" />
    <IndexingSortOption Self="dIndexingSortOptionnkIndexGroup_Korean" Name="$ID/kIndexGroup_Korean" Include="false" Priority="7" HeaderType="KoreanConsonant" />
    <IndexingSortOption Self="dIndexingSortOptionnkWRIndexGroup_ArabicAlphabet" Name="$ID/kWRIndexGroup_ArabicAlphabet" Include="false" Priority="8" HeaderType="Nothing" />
    <IndexingSortOption Self="dIndexingSortOptionnkWRIndexGroup_HebrewAlphabet" Name="$ID/kWRIndexGroup_HebrewAlphabet" Include="false" Priority="9" HeaderType="Nothing" />
    <ColorGroup Self="ColorGroup/[Root Color Group]" Name="[Root Color Group]" IsRootColorGroup="true">
        <ColorGroupSwatch Self="u12ColorGroupSwatch0" SwatchItemRef="Swatch/None" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch1" SwatchItemRef="Color/Registration" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch2" SwatchItemRef="Color/Paper" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch3" SwatchItemRef="Color/Black" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch4" SwatchItemRef="Color/C=100 M=0 Y=0 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch5" SwatchItemRef="Color/C=0 M=0 Y=100 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch6" SwatchItemRef="Color/C=0 M=100 Y=0 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch7" SwatchItemRef="Color/C=100 M=90 Y=10 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch8" SwatchItemRef="Color/C=15 M=100 Y=100 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatch9" SwatchItemRef="Color/C=75 M=5 Y=100 K=0" />
        <ColorGroupSwatch Self="u12ColorGroupSwatcha" SwatchItemRef="Color/C=77 M=52 Y=0 K=0" />
    </ColorGroup>
    <ABullet Self="dABullet0" CharacterType="UnicodeOnly" CharacterValue="8226">
        <Properties>
            <BulletsFont type="string">$ID/</BulletsFont>
            <BulletsFontStyle type="string">$ID/</BulletsFontStyle>
        </Properties>
    </ABullet>
    <ABullet Self="dABullet1" CharacterType="UnicodeOnly" CharacterValue="42">
        <Properties>
            <BulletsFont type="string">$ID/</BulletsFont>
            <BulletsFontStyle type="string">$ID/</BulletsFontStyle>
        </Properties>
    </ABullet>
    <ABullet Self="dABullet2" CharacterType="UnicodeOnly" CharacterValue="9674">
        <Properties>
            <BulletsFont type="string">$ID/</BulletsFont>
            <BulletsFontStyle type="string">$ID/</BulletsFontStyle>
        </Properties>
    </ABullet>
    <ABullet Self="dABullet3" CharacterType="UnicodeWithFont" CharacterValue="187">
        <Properties>
            <BulletsFont type="string">Myriad Pro</BulletsFont>
            <BulletsFontStyle type="string">$ID/Regular</BulletsFontStyle>
        </Properties>
    </ABullet>
    <ABullet Self="dABullet4" CharacterType="GlyphWithFont" CharacterValue="503">
        <Properties>
            <BulletsFont type="string">Minion Pro</BulletsFont>
            <BulletsFontStyle type="string">$ID/Regular</BulletsFontStyle>
        </Properties>
    </ABullet>
    <Assignment Self="uc2" Name="$ID/UnassignedInCopy" UserName="$ID/" ExportOptions="AssignedSpreads" IncludeLinksWhenPackage="true" FilePath="$ID/">
        <Properties>
            <FrameColor type="enumeration">Nothing</FrameColor>
        </Properties>
    </Assignment>
</Document>
