{% extends "twigs/template.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header">
					<h1>Feedback</h1>
					<p class="lead">If you have any feedback or encounter any bugs &#128030;, please notify us below. Being very specific will help us reproduce the issue and solve the problem.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<form action="/home/send_feedback" method="post" class="text-left auto-submit">
					<input type="hidden" name="user_id" value="{{ user.id }}">
					<input type="hidden" name="referer" value="{{ http_referer }}">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Name" name="name" value="{{ user.first_name  ~ " " ~ user.last_name }}">
					</div>
					<div class="form-group">
						<input class="form-control" type="email" placeholder="Email" name="email" value="{{ user.email }}">
					</div>
					<div class="form-group">
						<textarea class="form-control" type="text" placeholder="Message" rows="8" name="message"></textarea>
					</div>
					<button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
						Send Feedback
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}