{% extends "twigs/template.twig" %}

{% block content %}
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">How it Works</h1>
				<p class="lead">Adventist resources that are free, translatable, sharable.</p>
				<div class="row mt-4">
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/products">
								<img class="card-img-top mt-4 w-25" src="assets/img/browse.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/products">Browse Products</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/projects">
								<img class="card-img-top mt-4 w-25" src="assets/img/translate.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/projects">Translate Products</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/products">
								<img class="card-img-top mt-4 w-25" src="assets/img/download.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/products">Download Products</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid bg-dark text-white">
		<div class="container text-center">
			<p class="lead d-inline-block text-left">
				<b>Ready to bring Adventist resources to the world?</b><br>
				<span>Adventist Commons needs your help</span>
			</p>
			<a href="/projects" class="btn btn-primary btn-lg ml-4">Get Started</a>
		</div>
	</div>

{% endblock %}
