{% extends "twigs/template.twig" %}

{% block content %}
	
	<div class="container">
		{% if message %}
			<div class="alert alert-warning mt-3 text-center">{{ message }}</div>
		{% endif %}
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">How It Works</h1>
				<p class="lead">Adventist resources that are free, translatable, and sharable.</p>
				<div class="row mt-4">
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/products">
								<img class="card-img-top mt-4 w-25" src="assets/img/browse.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/products">Browse Products</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/projects">
								<img class="card-img-top mt-4 w-25" src="assets/img/translate.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/projects">Translate Products</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-3">
							<a href="/products">
								<img class="card-img-top mt-4 w-25" src="assets/img/download.svg">
							</a>
							<div class="card-body">
								<a class="card-title h6" href="/products">Download Products</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid bg-dark text-white p-4">
		<div class="container text-center">
			<div class='row align-items-center'>
				<div class='col-md-7 offset-1'>
					<p class="lead d-inline-block text-left">
						<b>Ready to bring Adventist resources to the world?</b>
					</p>
				</div>
				<div class='col-md-3 text-left'>
					<a href="/projects" class="btn btn-primary btn-lg">Start Translating</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">Partners and Advisors</h1>
				<p class="lead">Adventist Commons works with Adventist publishers, ministries, and departments.<br> We could not accomplish our mission without the generous support of our partners.</p>
				<div class="row text-center text-lg-left d-flex align-items-center">
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://publishing.adventist.org" class="d-block mb-4 h-100">
			            <img class="img-fluid" src="assets/img/publishing.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.middle-east-publishers.com/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="assets/img/middle-east-publishers.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.globalmissioncenters.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="assets/img/globalmission.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://women.adventist.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="assets/img/womansministries.png">
			          </a>
				    </div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center d-flex align-items-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<div class="row text-center text-lg-left">
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="https://www.awr.org/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="assets/img/awr.png">
			          </a>
				    </div>
				    <div class="col-lg-3 col-md-4 col-6 text-center">
				      <a target='_blank' href="http://healthministries.com/" class="d-block mb-4 h-100">
			            <img class="img-fluid partner-icon" src="assets/img/healhministries.png">
			          </a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid bg-dark text-white p-4">
		<div class="container text-center">
			<div class='row align-items-center'>
				<div class='col-md-7 offset-1'>
					<p class="lead d-inline-block text-left">
						<b>Interested in more resources and languages?</b>
					</p>
				</div>
				<div class='col-md-3 text-left'>
					<a href="https://www.patreon.com/bePatron?u=23402844" target="_blank" class="btn btn-primary btn-lg">Donate now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container mb-4">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11 text-center">
				<h1 class="mt-4">Our Team</h1>
				<p class="lead">We believe in the power of teams and individuals that share a common goal.<br>Meet the key members working on Adventist Commons.</p>
				<div class="row text-center text-lg-left d-flex align-items-center">
					<div class='col-md-4 text-center'>
						<img class='rounded' src="assets/img/team/Michael.png">
						<h3 class="mt-4">Michael Eckert</h3>
						<p class="lead">Project Coordinator</p>
					</div>
					<div class='col-md-4 text-center'>
						<img class='rounded' src="assets/img/team/Samuel.png">
						<h3 class="mt-4">Samuel Roncal</h3>
						<p class="lead">Lead Developer</p>
					</div>
					<div class='col-md-4 text-center'>
						<img class='rounded' src="assets/img/team/Marisa.png">
						<h3 class="mt-4">Marisa Ferreira</h3>
						<p class="lead">Product Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
