<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/img/favicon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>
        <div class="main-container fullscreen">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-7">
                        <div class="text-center">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/autosize.min.js"></script>
        <script type="text/javascript" src="/assets/js/popper.min.js"></script>
        <script type="text/javascript" src="/assets/js/prism.js"></script>
        <script type="text/javascript" src="/assets/js/draggable.bundle.legacy.js"></script>
        <script type="text/javascript" src="/assets/js/swap-animation.js"></script>
        <script type="text/javascript" src="/assets/js/dropzone.min.js"></script>
        <script type="text/javascript" src="/assets/js/list.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/js/selectize.min.js"></script>
        <script type="text/javascript" src="/assets/js/theme.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.timeago.js"></script>
		<script type="text/javascript" src="/assets/js/app.js?v=1"></script>
		<link href="/assets/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" media="all" />

    </body>

</html>
