{% extends "twigs/template.twig" %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-11">
			<h1 class="mt-4">Adventist commons personal data processing agreement</h1>
			
			<p><small>Effective: 13 July 2019</small></p>			
			<p>This Personal Data Processing Agreement (the “Agreement”) governs the Processing of Personal Data by Adventist Commons is Middle East Association of Seventh-Day Adventist Limited having a registered place of business at 61 Andrea Avraamide, 2024 Strovolos, Cyprus, and a business registration number H.E. 22928 (the “Processor”), operating the online platform available at <a href="https://adventistcommons.org">https://adventistcommons.org</a> and the related services (collectively, “Adventist Commons”). This Agreement governs the Processing of Personal Data submitted by an individual user or entity (the “User”) through Adventist Commons. The Processor and the User are collectively referred to as the “Parties” and each individually a “Party”. The Agreement explains rights and obligations of the Parties regarding the Processing of Personal Data through Adventist Commons, where the Processor acts in the capacity of the Data Processor and the User acts in a capacity of the Data Controller. The Agreement is drafted in accordance with EU Standard Contractual Clauses attached as Exhibit I of the Agreement and is incorporated by reference to Adventist Commons’ Terms of Use available at <a href="https://adventistcommons.org/terms">https://adventistcommons.org/terms</a> (the “Terms”).</p>
			<div class="card">
				<div class="card-body">
					The Agreement is concluded automatically upon User’s acceptance of the Terms.
				</div>
			</div>
			<p>
				<a href="/assets/docs/data-processing-agreement.pdf" class="btn btn-lg btn-primary">Download original Data Processing Agreement in PDF</a>
			</p>
			<ol>
				<li><a href="#definitions">Definitions</a></li>
				<li><a href="#subject-matter-of-processing">Subject matter of Processing</a></li>
				<li><a href="#scope-nature-and-purpose-of-processing">Scope, nature, and-purpose of Processing</a></li>
				<li><a href="#categories-of-personal-data">Categories of Personal Data</a></li>
				<li><a href="#categories-of-data-subjects">Categories of Data Subjects</a></li>
				<li><a href="#duration-of-processing">Duration of Processing</a></li>
				<li><a href="#security-of-processing">Security of Processing</a></li>
				<li><a href="#correction-and-deletion-of-personal-data">Correction and deletion of Personal Data</a></li>
				<li><a href="#processor-s-obligations">Processor’s obligations</a></li>
				<li><a href="#subprocessors">Subprocessors</a></li>
				<li><a href="#personal-data-breaches">Personal Data breaches</a></li>
				<li><a href="#notifications">Notifications</a></li>
				<li><a href="#instructions">Instructions</a></li>
				<li><a href="#miscellaneous">Miscellaneous</a></li>
			</ol>


			<ol class="content-list">
				<li>
					<h2><a name="definitions">definitions</a></h2>
					<ol class="content-list">
						<li>
							In this Agreement, the following definitions shall apply:
							<dl class="inline">
								<dt>“Data Controller”</dt>
								<dd>shall have the meaning of “controller” as defined in Art. 4(7) of the GDPR.</dd>
								<dt>“Processor”, “Data Processor”, “Data Processing”, “Processing”</dt>
								<dd>shall have the meaning of “processor” and “processing” as defined in Art. 4(2) and 4(8) of the GDPR.</dd>
								<dt>“Data Protection Law”</dt>
								<dd>means the statutory data privacy and protection regulations applicable to the User protecting the fundamental rights and freedoms of persons with regard to data privacy and the Processing of User’s Data by the Processor.</dd>
								<dt>“Data Subject”</dt>
								<dd>shall have the meaning of “data subject” as defined in Art. 4(1) of the GDPR.</dd>
								<dt>“EEA”</dt>
								<dd>shall mean the European Economic Area.</dd>
								<dt>“EU”</dt>
								<dd>shall mean European Union.</dd>
								<dt>“GDPR”</dt>
								<dd>shall mean the Regulation (EU) 2016/679 (General Data Protection Regulation).</dd>
								<dt>“Instruction”</dt>
								<dd>shall mean an instruction issued by the User to the Processor and directing the Processor to perform a specific action with regard to the Processing of User’s Data in order to achieve compliance with the Data Protection Law.</dd>
								<dt>“User’s Data“</dt>
								<dd>shall mean the Personal Data of which the User is the Data Controller.</dd>
								<dt>“Personal Data”</dt>
								<dd>shall have the meaning as defined in Art. 4(1) of the GDPR related to the Services.</dd>
								<dt>“Services”</dt>
								<dd>shall mean the services provided by the Processor pursuant to the Terms, namely, provision of (i) an online directory of downloadable resources and publications in the field of Adventism available in various languages and dialects and (ii) a crowd-translation platform that allows Users to contribute to translations of Adventist texts. The User may create, upload, manage, and access Adventism-related materials, such as digital books, tracts, texts, and translations.</dd>
								<dt>“Subprocessor”</dt>
								<dd>shall mean an entity that Processes Personal Data as a subcontractor of the Data Processor.</dd>
							</dl> 
						</li>
					</ol>
				</li>
				<li>
					<h2><a name="subject-matter-of-processing">Subject matter of Processing</h2>
					<ol class="content-list">
						<li>The User engages the Processor to provide the Services to the User though Adventist Commons and agrees that the Processor shall carry the Processing of User’s Data, the categories of which are described in Section 2 of this Agreement, pursuant to the terms stated herein.</li>
						<li>This Agreement stipulates the rights and obligations of the Parties regarding the Processing of User’s Data in connection with the Services. It shall apply to all activities within the scope of the Services and the Terms in the context of which the Processor or the Subprocessors may come into contact with User’s Data. </li>
						<li>To ensure the transparency of the Processing, the Parties shall keep records of all Processing activities regarding Personal Data as required by Art. 30 of the GDPR.</li>
					</ol>
				</li>
				<li>
					<h2><a name="scope-nature-and-purpose-of-processing">Scope, nature, and purpose of Processing</h2>
					<ol class="content-list">
						<li>The Processor shall Process User’s Data on behalf of the User as User’s Processor. The scope, extent, and nature of the Processing are the sole purpose of facilitation of the provision of the Services by the Processor to the User.</li> 
						<li>The Processor shall ensure that any of its officers, directors, employees, consultants, representatives and other natural persons that participate in the Processing of User’s Data agree to the same restrictions and conditions as those listed in this Agreement.</li>
						<li>The User as the Data Controller shall be responsible for complying with the applicable Data Protection Law, including, but not limited to, the lawfulness of the Processing and the lawfulness of the transmission (if any) of User’s Data to the Processor. </li>
						<li>The Processor shall Process User’s Data only to the extent required and with the purpose of fulfilling Processor’s obligations under the Terms, to the extent necessary for the provision of the Services, and in accordance with User’s Instructions. </li>
						<li>Should the Processor wish to use User’s Data for the purposes that are not specified in this Section 3, the Processor shall request the User to provide prior consent in writing.</li>
					</ol>
				</li>
				<li>
					<h2><a name="categories-of-personal-data">Categories of Personal Data</h2>
					<ol class="content-list">
						<li>The Processor shall Process all User’s Data submitted by the User through Adventist Commons. To the extent User’s Data contains Personal Data, it may consist of Data Subjects’ identifying information provided in the Adventism-related materials, such as digital books, tracts, texts, and translations, submitted by the Users through Adventist Commons. </li>
						<li>It is possible that special categories of Personal Data as defined in Art. 9(1) of the GDPR are processed according to this Agreement in individual cases, such as person’s religious or philosophic beliefs, if provided by the User. The User is responsible for obtaining such Personal Data in a lawful manner.</li>
					</ol>
				</li>
				<li>
					<h2><a name="categories-of-data-subjects">Categories of Data Subjects</h2>
					<ol class="content-list">
						<li>The affected Data Subjects shall include natural persons whose personal data is used by the User to create, upload, manage, and access Adventism-related materials through Adventist Commons.</li>
						<li>The Processor does not interact with the Data Subjects directly in any manner. </li>
					</ol>
				</li>
				<li>
					<h2><a name="duration-of-processing">Duration of Processing</h2>
					<ol class="content-list">						
						<li>Except where this Agreement expressly stipulates any surviving obligation, this Agreement shall follow the term of the Terms. </li>
						<li>The Processor shall Process User’s Data for as long as User’s Data is necessary for the purpose described in Section 3 of this Agreement. </li>
						<li>The Processor shall return to the User or securely erase User’s Data from its storage systems as soon as User’s Data is no longer necessary for the purpose described in Section 3 of this Agreement or the User requests the Processor to do so. Upon request of the User, the Processor shall provide the User with a proof of erasure of User’s Data. </li>
					</ol>
				</li>
				<li>
					<h2><a name="security-of-processing">Security of Processing</h2>
					<ol class="content-list">						
						<li>The Processor shall exercise a reasonable degree of care to protect User’s Data from any misuse, unauthorized access, disclosure, and transfer to any third parties unauthorized by the User. Such measures shall include, without limitation:</li>
						<li>Maintaining adequate access control mechanisms (e.g., two-factor authentication, password protection, and limited access) covering any systems, servers, or files in which User’s Data is stored;</li>
						<li>DDOS mitigation;</li>
						<li>Using SSL encryption for any transmission of User’s Data electronically; and </li>
						<li>Limiting access to User’s Data by Processor’s officers, directors, employees, consultants, and representatives only to the purpose stated in Section 3 of this Agreement. </li>
						<li>The Processor declares that it has taken appropriate technical and organizational measures according to Art. 32 GDPR to keep User’s Data secure and protected against unauthorized or unlawful processing and accidental loss, destruction or damage, and undertakes to continue doing so during the term of this Agreement. </li>
						<li>If, under applicable laws, the Processor is compelled to disclose User’s Data, the Processor shall inform the User before any such mandatory disclosure within 24 hours after such a disclosure is requested. </li>
						<li>Any significant changes to the security measures listed in Section 7.1 of the Agreement shall be documented by the Processor and reported to the User. </li>
						<li>The Processor shall appropriately document the technical and organizational measures actually implemented (including each update) for the Processing of User’s Data and will hand out the then current version of such documentation to the User, upon User’s request (e.g., for audit purposes). </li>
						<li>For the purpose of documentation, the Processor shall be entitled to provide evidence for the implementation of the security measures by providing up-to-date attestations, reports or extracts from independent bodies that scrutinize and confirm the Processing of User’s Data is in accordance with the agreed to measures herein. </li>
					</ol>
				</li>
				<li>
					<h2><a name="correction-and-deletion-of-personal-data">Correction and deletion of Personal Data</h2>
					<ol class="content-list">						
						<li>The Processor may be required to correct, erase and/or block User’s Data if and to the extent the functionality of the Services does not allow the User to do so. However, the Processor shall not correct, erase or block User’s Data, unless instructed by the User. </li>
						<li>Unless mandatory Data Protection Law provides otherwise, there shall not be any direct communication between the Data Subjects and the Processor. In the event that a Data Subject does apply directly to the Processor in writing, e.g., to request the correction or deletion of his/her Personal Data, the Processor shall forward this request to the User without undue delay and shall not respond directly to the Data Subject. </li>
					</ol>
				</li>
				<li>
					<h2><a name="processor-s-obligations">Processor’s obligations</h2>
					<ol class="content-list">
						<li>
							The Processor shall:
							<ul class="list-letter">
								<li>Process User’s Data only on documented instructions from the User;</li>
								<li>Ensure that persons authorized to Process User’s Data have committed themselves to confidentiality or are under an appropriate statutory obligation of confidentiality. The Processor shall regularly train those persons to whom it grants access to User’s Data on IT security and privacy law compliance. The undertaking to data secrecy shall continue after the termination of this Agreement;</li>
								<li>Implement appropriate technical and organizational security measures to ensure a level of security appropriate to User’s Data;</li>
								<li>Ensure that any natural person acting under the authority of the Processor who has access to the Personal Data does not process them except on instructions from the User;</li>
								<li>Assist the User in compliance with User’s obligations under Art. 32 to 36 of the GDPR;</li>
								<li>Make available to the User all information necessary to demonstrate compliance with Processor’s obligations under the Agreement, the Data Protection Law, and allow for and contribute to audits, including inspections, conducted by the User or another auditor mandated by the User;</li>
								<li>Appoint a data protection officer if it is legally obliged to do so or, if it is not obliged to do so, a contact person for data protection issues;</li>
								<li>Provide the User, upon request in writing, with the name and contact details of its data protection officer or the contact person for data protection issues;</li>
								<li>Monitor the Processing by way of regular reviews concerning the performance of and compliance with this Agreement, the Terms, and the applicable Data Protection Law;</li>
								<li>At User’s written request, reasonably support the User in dealing with requests from individual Data Subjects and/or a supervisory authority with respect to the Processing of Personal Data hereunder;</li>
								<li>Assist the User with the implementation of appropriate technical and organizational measures in order to respond to applications by the Data Subjects for the exercise of their rights (in particular, Art. 13 to 23 of the GDPR); </li>
								<li>Provide at minimum the information set out in Art. 33(3) of the GDPR in the case of a Personal Data breach; </li>
								<li>Communicate information to the Data Subjects after a Personal Data breach, in particular pursuant to Art. 34 of the GDPR; and</li>
								<li>Conduct prior (i.e. before the start of the processing) data protection impact assessments pursuant to Art. 35 of the GDPR and, if necessary, consult with a supervisory authority pursuant to Art. 36 of the GDPR. </li>
							</ul>
						</li>
						<li>The Processor commits to observe any and all other duties that are imposed to the Processor pursuant to Art. 28 of the GDPR.</li>
						<li>The Processor shall collaborate with User’s data protection officer to generate the records of processing activities, pursuant to Art. 30 of the GDPR, and provide all the necessary details to the User.</li>
					</ol>
				</li>
				<li>
					<h2><a name="subprocessors">Subprocessors</h2>
					<ol class="content-list">
						<li>The User hereby authorizes the Processor to engage Subprocessors as further specified in this Section 10, provided that the Processor remains responsible for any acts or omissions of its Subprocessors in the same manner as for its own acts and omissions hereunder. </li>
						<li>
							The Processor may remove or appoint suitable and reliable other Subprocessor(s) at its own discretion in accordance with the following conditions:
							<ul class="list-letter">
								<li>The Processor shall inform the User 30 days in advance of any envisaged changes to the list of Subprocessors;</li>
								<li>If the User has a legitimate data protection related reason to object to Processor’s use of Subprocessor(s), the User shall notify the Processor within fourteen (14) days after receipt of the Processor’s notice;</li>
								<li>If the User does not object during this time period, the new Subprocessor(s) shall be deemed accepted;</li>
								<li>
									If the User objects to the use of the Subprocessor(s) concerned, the Processor shall have the right to cure the objection through one of the following options (to be selected at Processor’s sole discretion):
									<ul>
										<li>The Processor will abort its plans to use the Subprocessor(s) with regard to User’s Data; or </li>
										<li>The Processor will take corrective steps and proceed to use the Subprocessor(s) with regard to User’s Data. </li>
									</ul>
								</li>
								<li>If the Processor decides not to implement option 10.2.d.1 or 10.2.d.2 above, the Processor shall notify the User without undue delay. In this case, the User shall be entitled within further fourteen (14) days to notify in writing the Processor about its termination of the Agreement and any such termination would become effective upon the expiry of the second (2nd) calendar month after Processor’s receipt of the termination notice. </li>
							</ul>
						</li>
						<li>The Processor shall pass on to its subcontractors acting as the Subprocessors Processor’s obligations under this Agreement.</li>
						<li>
							The list of the Subprocessors used by the Processor includes the following subcontractors:
							<table class="table table-striped table-bordered">								
								<thead class="thead-dark">
									<tr>
										<th scope="col">Service</th>
										<th scope="col">Name</th>
										<th scope="col">More information</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Hosting service provider</td>
										<td>MDDHosting</td>
										<td><a href="https://www.mddhosting.com">https://www.mddhosting.com</a></td>
									</tr>
									<tr>						
										<td>Business analytics service provider</td>
										<td>Google Analytics</td>
										<td><a href="https://analytics.google.com">https://analytics.google.com</a> </td>
									</tr>
									<tr>
										<td>Email service provider</td>
										<td>Mailjet </td>
										<td><a href="https://www.mailjet.com">https://www.mailjet.com</a></td>
									</tr>
								</tbody>
							</table>
						</li>
					</ol>
				</li>
				<li>
					<h2><a name="personal-data-breaches">Personal Data breaches</h2>
					<ol class="content-list">
						<li>Within 24 hours after the Processor becomes aware of any unauthorized use or disclosure of User’s Data, the Processor shall promptly report the unauthorized use or disclosure of the User’s Data to the User. </li>
						<li>The Processor shall cooperate with any remediation that the User, in its discretion, determines is necessary to (i) address any applicable reporting requirements and (ii) mitigate any effects of unauthorized use or disclosure of the User’s Data.</li>
						<li>In consultation with the User, the Processor must take appropriate measures to secure User’s Data and limit any possible detrimental effect on the Data Subjects. Where obligations are placed on the User under the Data Protection Law, the Processor shall provide commercially reasonable assistance in meeting them.</li>
					</ol>
				</li>
				<li>
					<h2><a name="notifications">Notifications</h2>
					<ol class="content-list">
						<li>If the Processor receives a request, subpoena or court order (including through an obligation due to legal provisions or official injunctions from state authorities) requesting to provide any User’s Data to an authority, the Processor shall attempt to redirect the relevant authority to request that data directly from the Data Controller, and notify the User without undue delay. </li>
						<li>Where User’s Data becomes subject to search and seizure, an attachment order, confiscation during bankruptcy or insolvency proceedings, or similar events or measures by third parties while in Processor’s control, the Processor shall notify the User of such action without undue delay.</li>
					</ol>
				</li>
				<li>
					<h2><a name="instructions">Instructions</h2>
					<ol class="content-list">
						<li>The Instructions to the Processor are initially laid out in this Agreement. However, the User shall be entitled to issuing modifications to Instructions and to issue new Instructions, subject to feasibility. </li>
						<li>The User shall designate a person competent to issue the Instructions. Modifications or new Instructions shall be issued in writing and shall need to be agreed between the Parties as a contract modification/change request under this Agreement. </li>
						<li>The Processor shall notify the User if the Processor considers any Instruction to be in violation of the applicable Data Protection Law. The Processor shall not be obligated to perform a comprehensive legal examination and shall in no event render any legal services to the User. </li>
						<li>The Processor shall not be responsible for any consequences of the Instructions issued by the User and the User shall indemnify and hold the Processor harmless against any damages and third-party claims resulting from the Instruction. </li>
						<li>Unless otherwise agreed, the Processor shall be entitled to charge any efforts incurred in connection with the Instructions on time and material basis. </li>
					</ol>
				</li>
				<li>
					<h2><a name="miscellaneous">Miscellaneous</h2>
					<ol class="content-list">
						<li>No modification of this Agreement shall be valid and binding unless made in writing and then only if such modification expressly states that such modification applies to the regulations of this Agreement. The foregoing shall also apply to any waiver or modification of this mandatory written form. </li>
						<li>This Agreement shall take precedence over any conflicting provisions of the Terms. </li>
						<li>This Agreement will commence on the date when the Terms are accepted by the User and continue until terminated earlier by either Party.</li>
						<li>Either Party may terminate this Agreement for any reason upon thirty (30) calendar days’ notice to the other Party.</li>
						<li>
							Each Party may terminate this Agreement with immediate effect by delivering a notice of the termination to the other Party if:
							<ul class="list-letter">
								<li>The other Party fails to perform, has made or makes any inaccuracy in, or otherwise materially breaches, any of its obligations, covenants, or representations; and</li>
								<li>The failure, inaccuracy, or breach continues for a period of thirty (30) calendar days’ after the injured Party delivers notice to the breaching Party reasonably detailing the breach.</li>
							</ul>
						</li>
						<li>If either Party becomes insolvent, bankrupt, or enters receivership, dissolution, or liquidation, the other Party may terminate this Agreement with immediate effect.</li>						
						<li>
							Upon expiration or termination of this Agreement or on User’s request, the Processor shall:
							<ul class="list-letter">
								<li>Promptly securely delete or return any User’s Data available to the Processor and any other information and documents, provided by the User; and</li>
								<li>Deliver to the User a certificate confirming Processor’s compliance with the destruction obligation under this Section 14.7.</li>
							</ul>
						</li>
						<li>Neither Party may assign this Agreement or any of their rights or obligations under this Agreement without the other Party’s prior consent.</li>
						<li>The Parties shall attempt to resolve any dispute arising out of or relating to this Agreement in a good faith through negotiations between senior executives of the Parties, who have authority to settle the same. If the matter is not resolved by negotiation within thirty (30) days of receipt of a written invitation to negotiate, the dispute shall be resolved by using binding arbitration services.</li>
						<li>The headings used in this Agreement and its division into sections, schedules, exhibits, appendices, and other subdivisions do not affect its interpretation.</li>
						<li>If there is any inconsistency between the terms of this Agreement and those in any document entered into under this Agreement, the terms of this Agreement shall prevail. The Parties shall take all necessary steps to conform the inconsistent terms to the terms of this Agreement.</li>
					</ol>
				</li>
			</ol>


<pre style="background: #fff; border: 1px solid #666; padding: .5em; white-space:pre-wrap">
EXHIBIT I


EUROPEAN COMMISSION
DIRECTORATE-GENERAL JUSTICE

Directorate C: Fundamental rights and Union citizenship
Unit C.3: Data protection



Commission Decision C(2010)593
Standard Contractual Clauses (processors)
For the purposes of Article 26(2) of Directive 95/46/EC for the transfer of personal data to processors established in third countries which do not ensure an adequate level of data protection
Name of the data exporting Organization: the name of the the User accepting Adventist Commons Terms of Use
Address: the address of the the User accepting Adventist Commons Terms of Use 
Tel.: the phone number of the the User accepting Adventist Commons Terms of Use
E-mail: the email address of the the User accepting Adventist Commons Terms of Use


(the data exporter)
And
Name of the data importing Organization: Middle East Association of Seventh-Day Adventist Limited
Address: 61 Andrea Avraamide, 2024 Strovolos, Cyprus
Tel.: 
E-mail: info@adventistcommons.org
Other information needed to identify the Organization: business registration number H.E. 22928
(the data importer)
each a “party”; together “the parties”,
HAVE AGREED on the following Contractual Clauses (the Clauses) in order to adduce adequate safeguards with respect to the protection of privacy and fundamental rights and freedoms of individuals for the transfer by the data exporter to the data importer of the personal data specified in Appendix 1.

Clause 1
Definitions
For the purposes of the Clauses:
(a)    'personal data', 'special categories of data', 'process/processing', 'controller', 'processor', 'data subject' and 'supervisory authority' shall have the same meaning as in Directive 95/46/EC of the European Parliament and of the Council of 24 October 1995 on the protection of individuals with regard to the processing of personal data and on the free movement of such data;
(b)    'the data exporter' means the controller who transfers the personal data;
(c)    'the data importer' means the processor who agrees to receive from the data exporter personal data intended for processing on his behalf after the transfer in accordance with his instructions and the terms of the Clauses and who is not subject to a third country's system ensuring adequate protection within the meaning of Article 25(1) of Directive 95/46/EC;
(d)    'the subprocessor' means any processor engaged by the data importer or by any other subprocessor of the data importer who agrees to receive from the data importer or from any other subprocessor of the data importer personal data exclusively intended for processing activities to be carried out on behalf of the data exporter after the transfer in accordance with his instructions, the terms of the Clauses and the terms of the written subcontract;
(e)    'the applicable data protection law' means the legislation protecting the fundamental rights and freedoms of individuals and, in particular, their right to privacy with respect to the processing of personal data applicable to a data controller in the Member State in which the data exporter is established;
(f)    'technical and Organizational security measures' means those measures aimed at protecting personal data against accidental or unlawful destruction or accidental loss, alteration, unauthorised disclosure or access, in particular where the processing involves the transmission of data over a network, and against all other unlawful forms of processing.
Clause 2
Details of the transfer
The details of the transfer and in particular the special categories of personal data where applicable are specified in Appendix 1 which forms an integral part of the Clauses.
Clause 3
Third-party beneficiary clause
1.    The data subject can enforce against the data exporter this Clause, Clause 4(b) to (i), Clause 5(a) to (e), and (g) to (j), Clause 6(1) and (2), Clause 7, Clause 8(2), and Clauses 9 to 12 as third-party beneficiary. 
2.    The data subject can enforce against the data importer this Clause, Clause 5(a) to (e) and (g), Clause 6, Clause 7, Clause 8(2), and Clauses 9 to 12, in cases where the data exporter has factually disappeared or has ceased to exist in law unless any successor entity has assumed the entire legal obligations of the data exporter by contract or by operation of law, as a result of which it takes on the rights and obligations of the data exporter, in which case the data subject can enforce them against such entity. 
3.    The data subject can enforce against the subprocessor this Clause, Clause 5(a) to (e) and (g), Clause 6, Clause 7, Clause 8(2), and Clauses 9 to 12, in cases where both the data exporter and the data importer have factually disappeared or ceased to exist in law or have become insolvent, unless any successor entity has assumed the entire legal obligations of the data exporter by contract or by operation of law as a result of which it takes on the rights and obligations of the data exporter, in which case the data subject can enforce them against such entity. Such third-party liability of the subprocessor shall be limited to its own processing operations under the Clauses. 
4.    The parties do not object to a data subject being represented by an association or other body if the data subject so expressly wishes and if permitted by national law. 
Clause 4
Obligations of the data exporter
The data exporter agrees and warrants: 
(a)    that the processing, including the transfer itself, of the personal data has been and will continue to be carried out in accordance with the relevant provisions of the applicable data protection law (and, where applicable, has been notified to the relevant authorities of the Member State where the data exporter is established) and does not violate the relevant provisions of that State;
(b)    that it has instructed and throughout the duration of the personal data processing services will instruct the data importer to process the personal data transferred only on the data exporter's behalf and in accordance with the applicable data protection law and the Clauses;
(c)    that the data importer will provide sufficient guarantees in respect of the technical and Organizational security measures specified in Appendix 2 to this contract;
(d)    that after assessment of the requirements of the applicable data protection law, the security measures are appropriate to protect personal data against accidental or unlawful destruction or accidental loss, alteration, unauthorised disclosure or access, in particular where the processing involves the transmission of data over a network, and against all other unlawful forms of processing, and that these measures ensure a level of security appropriate to the risks presented by the processing and the nature of the data to be protected having regard to the state of the art and the cost of their implementation;
(e)    that it will ensure compliance with the security measures;
(f)    that, if the transfer involves special categories of data, the data subject has been informed or will be informed before, or as soon as possible after, the transfer that its data could be transmitted to a third country not providing adequate protection within the meaning of Directive 95/46/EC;
(g)    to forward any notification received from the data importer or any subprocessor pursuant to Clause 5(b) and Clause 8(3) to the data protection supervisory authority if the data exporter decides to continue the transfer or to lift the suspension;
(h)    to make available to the data subjects upon request a copy of the Clauses, with the exception of Appendix 2, and a summary description of the security measures, as well as a copy of any contract for subprocessing services which has to be made in accordance with the Clauses, unless the Clauses or the contract contain commercial information, in which case it may remove such commercial information;
(i)    that, in the event of subprocessing, the processing activity is carried out in accordance with Clause 11 by a subprocessor providing at least the same level of protection for the personal data and the rights of data subject as the data importer under the Clauses; and
(j)    that it will ensure compliance with Clause 4(a) to (i).
Clause 5
Obligations of the data importer
The data importer agrees and warrants:
(a)    to process the personal data only on behalf of the data exporter and in compliance with its instructions and the Clauses; if it cannot provide such compliance for whatever reasons, it agrees to inform promptly the data exporter of its inability to comply, in which case the data exporter is entitled to suspend the transfer of data and/or terminate the contract;
(b)    that it has no reason to believe that the legislation applicable to it prevents it from fulfilling the instructions received from the data exporter and its obligations under the contract and that in the event of a change in this legislation which is likely to have a substantial adverse effect on the warranties and obligations provided by the Clauses, it will promptly notify the change to the data exporter as soon as it is aware, in which case the data exporter is entitled to suspend the transfer of data and/or terminate the contract;
(c)    that it has implemented the technical and Organizational security measures specified in Appendix 2 before processing the personal data transferred;
(d)    that it will promptly notify the data exporter about:
(i)    any legally binding request for disclosure of the personal data by a law enforcement authority unless otherwise prohibited, such as a prohibition under criminal law to preserve the confidentiality of a law enforcement investigation,
(ii)    any accidental or unauthorised access, and
(iii)    any request received directly from the data subjects without responding to that request, unless it has been otherwise authorised to do so;
(e)    to deal promptly and properly with all inquiries from the data exporter relating to its processing of the personal data subject to the transfer and to abide by the advice of the supervisory authority with regard to the processing of the data transferred;
(f)    at the request of the data exporter to submit its data processing facilities for audit of the processing activities covered by the Clauses which shall be carried out by the data exporter or an inspection body composed of independent members and in possession of the required professional qualifications bound by a duty of confidentiality, selected by the data exporter, where applicable, in agreement with the supervisory authority;
(g)    to make available to the data subject upon request a copy of the Clauses, or any existing contract for subprocessing, unless the Clauses or contract contain commercial information, in which case it may remove such commercial information, with the exception of Appendix 2 which shall be replaced by a summary description of the security measures in those cases where the data subject is unable to obtain a copy from the data exporter;
(h)    that, in the event of subprocessing, it has previously informed the data exporter and obtained its prior written consent;
(i)    that the processing services by the subprocessor will be carried out in accordance with Clause 11;
(j)    to send promptly a copy of any subprocessor agreement it concludes under the Clauses to the data exporter.
Clause 6
Liability
1.    The parties agree that any data subject, who has suffered damage as a result of any breach of the obligations referred to in Clause 3 or in Clause 11 by any party or subprocessor is entitled to receive compensation from the data exporter for the damage suffered.
2.    If a data subject is not able to bring a claim for compensation in accordance with paragraph 1 against the data exporter, arising out of a breach by the data importer or his subprocessor of any of their obligations referred to in Clause 3 or in Clause 11, because the data exporter has factually disappeared or ceased to exist in law or has become insolvent, the data importer agrees that the data subject may issue a claim against the data importer as if it were the data exporter, unless any successor entity has assumed the entire legal obligations of the data exporter by contract of by operation of law, in which case the data subject can enforce its rights against such entity. The data importer may not rely on a breach by a subprocessor of its obligations in order to avoid its own liabilities.
3.    If a data subject is not able to bring a claim against the data exporter or the data importer referred to in paragraphs 1 and 2, arising out of a breach by the subprocessor of any of their obligations referred to in Clause 3 or in Clause 11 because both the data exporter and the data importer have factually disappeared or ceased to exist in law or have become insolvent, the subprocessor agrees that the data subject may issue a claim against the data subprocessor with regard to its own processing operations under the Clauses as if it were the data exporter or the data importer, unless any successor entity has assumed the entire legal obligations of the data exporter or data importer by contract or by operation of law, in which case the data subject can enforce its rights against such entity. The liability of the subprocessor shall be limited to its own processing operations under the Clauses.
Clause 7
Mediation and jurisdiction
1.    The data importer agrees that if the data subject invokes against it third-party beneficiary rights and/or claims compensation for damages under the Clauses, the data importer will accept the decision of the data subject:
(a)    to refer the dispute to mediation, by an independent person or, where applicable, by the supervisory authority;
(b)    to refer the dispute to the courts in the Member State in which the data exporter is established.
2.    The parties agree that the choice made by the data subject will not prejudice its substantive or procedural rights to seek remedies in accordance with other provisions of national or international law.
Clause 8
Cooperation with supervisory authorities
1.    The data exporter agrees to deposit a copy of this contract with the supervisory authority if it so requests or if such deposit is required under the applicable data protection law.
2.    The parties agree that the supervisory authority has the right to conduct an audit of the data importer, and of any subprocessor, which has the same scope and is subject to the same conditions as would apply to an audit of the data exporter under the applicable data protection law.
3.    The data importer shall promptly inform the data exporter about the existence of legislation applicable to it or any subprocessor preventing the conduct of an audit of the data importer, or any subprocessor, pursuant to paragraph 2. In such a case the data exporter shall be entitled to take the measures foreseen in Clause 5 (b).
Clause 9
Governing Law
The Clauses shall be governed by the law of the Member State in which the data exporter is established.
Clause 10
Variation of the contract
The parties undertake not to vary or modify the Clauses. This does not preclude the parties from adding clauses on business related issues where required as long as they do not contradict the Clause. 

Clause 11
Subprocessing
1.    The data importer shall not subcontract any of its processing operations performed on behalf of the data exporter under the Clauses without the prior written consent of the data exporter. Where the data importer subcontracts its obligations under the Clauses, with the consent of the data exporter, it shall do so only by way of a written agreement with the subprocessor which imposes the same obligations on the subprocessor as are imposed on the data importer under the Clauses. Where the subprocessor fails to fulfil its data protection obligations under such written agreement the data importer shall remain fully liable to the data exporter for the performance of the subprocessor's obligations under such agreement. 
2.    The prior written contract between the data importer and the subprocessor shall also provide for a third-party beneficiary clause as laid down in Clause 3 for cases where the data subject is not able to bring the claim for compensation referred to in paragraph 1 of Clause 6 against the data exporter or the data importer because they have factually disappeared or have ceased to exist in law or have become insolvent and no successor entity has assumed the entire legal obligations of the data exporter or data importer by contract or by operation of law. Such third-party liability of the subprocessor shall be limited to its own processing operations under the Clauses.
3.    The provisions relating to data protection aspects for subprocessing of the contract referred to in paragraph 1 shall be governed by the law of the Member State in which the data exporter is established.
4.    The data exporter shall keep a list of subprocessing agreements concluded under the Clauses and notified by the data importer pursuant to Clause 5 (j), which shall be updated at least once a year. The list shall be available to the data exporter's data protection supervisory authority. 
Clause 12
Obligation after the termination of personal data processing services
1.    The parties agree that on the termination of the provision of data processing services, the data importer and the subprocessor shall, at the choice of the data exporter, return all the personal data transferred and the copies thereof to the data exporter or shall destroy all the personal data and certify to the data exporter that it has done so, unless legislation imposed upon the data importer prevents it from returning or destroying all or part of the personal data transferred. In that case, the data importer warrants that it will guarantee the confidentiality of the personal data transferred and will not actively process the personal data transferred anymore.
2.    The data importer and the subprocessor warrant that upon request of the data exporter and/or of the supervisory authority, it will submit its data processing facilities for an audit of the measures referred to in paragraph 1.

APPENDIX 1 TO THE STANDARD CONTRACTUAL CLAUSES

The Member States may complete or specify, according to their national procedures, any additional necessary information to be contained in this Appendix.

Data exporter
The data exporter is (please specify briefly your activities relevant to the transfer): an individual user or entity creating, uploading, managing, and accessing Adventism-related materials, such as digital books, tracts, texts, and translations, through the online platform Adventist Commons available at <a href="https://adventistcommons.org">https://adventistcommons.org</a>.

Data importer
The data importer is (please specify briefly activities relevant to the transfer): the owner and operator of the online platform Adventist Commons available at <a href="https://adventistcommons.org">https://adventistcommons.org</a> that comprises (i) an online directory of downloadable resources and publications in the field of Adventism available in various languages and dialects and (ii) a crowd-translation platform that allows users to contribute to translations of Adventist texts. 

Data subjects
The personal data transferred concern the following categories of data subjects (please specify): the affected data subjects shall include natural persons whose personal data is featured in the digital books, tracts, texts, and translations, created, uploaded, managed, and accessed through the online platform Adventist Commons available at <a href="https://adventistcommons.org">https://adventistcommons.org</a>.

Categories of data
The personal data transferred concern the following categories of data (please specify): identifying information provided in the Adventism-related materials, such as digital books, tracts, texts, and translations, submitted by the data importer through Adventist Commons. 

Special categories of data (if appropriate)
The personal data transferred concern the following special categories of data (please specify): it is possible that special categories of personal data as defined in Art. 9(1) of the GDPR are processed in individual cases, including information about person’s religious and philosophic beliefs. 

Processing operations
The personal data transferred will be subject to the following basic processing activities (please specify): accessing, storing, using, managing, and making available personal data for the purposes of allowing the data exporter to use Adventist Commons and create, upload, manage, and access Adventism-related materials, such as digital books, tracts, texts, and translations, submitted by the data importer through Adventist Commons. 

APPENDIX 2 TO THE STANDARD CONTRACTUAL CLAUSES

This Appendix forms part of the Clauses and must be completed and signed by the parties.
Description of the technical and Organizational security measures implemented by the data importer in accordance with Clauses 4(d) and 5(c) (or document/legislation attached):
Maintaining adequate access control mechanisms (e.g., two-factor authentication, password protection, and limited access) covering any systems, servers, or files in which personal data is stored;
DDOS mitigation;
Using SSL encryption; and 
Limiting access to personal data by data importer’s officers, directors, employees, consultants, and representatives only to the purpose stated in Section 3 of the Agreement. 

INDEMNIFICATION CLAUSE 
Liability
The parties agree that if one party is held liable for a violation of the clauses committed by the other party, the latter will, to the extent to which it is liable, indemnify the first party for any cost, charge, damages, expenses or loss it has incurred.
Indemnification is contingent upon:
(a)    the data exporter promptly notifying the data importer of a claim; and
(b)    the data importer being given the possibility to cooperate with the data exporter in the defence and settlement of the claim.
</div>


</div>
</div>
</div>

{% endblock %}
