{% extends "twigs/template.twig" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xl-10 col-lg-11">
			<h1 class="mt-4">FAQ</h1>
			<hr>
			
			
				<li><a href="#products">PRODUCTS</a></li>
				<li><a href="#languages-and-translations">LANGUAGES AND TRANSLATIONS</a></li>
				<li><a href="#copyrights-licensing-and-usage">COPYRIGHTS LICENSING AND USAGE</a></li>
				<li><a href="#donations">DONATIONS</a></li>
				<li><a href="#volunteering">VOLUNTEERING</a></li>
				<li><a href="#general">GENERAL</a></li>
				<p></p>
				
								
			
			
			<p> </p>
				    
					
					<h2 style="margin-top: 3em;padding-top: 2em"><a name="products" >PRODUCTS</a></h2>
					
										
					<li>How can I download print files? </li>
					<p>Go to adventistcommons.org and select the product you would like to download. If it already exists in your language, you will see a button to download the print file directly. If the translation does not exist or is still in progress, you will see a prompt to contribute to its completion. You will not be able to download print files until the translation is complete.<p>
					 					
					<li>The translation for a certain product is complete but the print file does not appear. Why is that? </li>
					<p> After a translation is completed, it takes us several days to make sure that the final layout is perfectly adjusted for your language. Please check back after a few days.</p>
					 					
					<li>What format of files are offered for download? </li>
					<p>The files will be available online and in PDF format.</p>
					
					<li>Who oversees the theological content in these resources? </li>
					<p>Every resource is carefully proofread for theological content by selected Adventist theologians and missiologists under the direction of the Middle East and North Africa Union.</p>
						
									
								
					<h2><a name="languages-and-translations"style="margin-top: 3em;padding-top: 2em">LANGUAGES AND TRANSLATIONS</a></h2>
					
								
						
					<li>When will you have products available in my language?</li>
					<p>We depend on volunteers to translate materials. Join us, recruit others in your church, and help us to get these materials available sooner.</p>
								
					<li>Will the website platform be made available in my language?</li>
					<p>We depend on volunteer translators and programmers to make the Adventist Commons platform available in new languages. Check back often to see if your language is available, or sign up to translate the website.</p>
								
					<li>Who ensures the quality of the translations?</li>
					<p>We rely on a team of volunteer collaborators for each language group to cross-check translation. Professional translators will give the final approval.</p>
						
									
									
					<h2><a name="copyrights-licensing-and-usage"style="margin-top: 3em;padding-top: 2em">COPYRIGHTS LICENSING AND USAGE</a></h2>
					
					
					<li>Who owns the copyright for these products? </li>  
					<p>All products are owned by the Middle East and North Africa Union or its partners. Each product will be licensed under the <a  target='_blank' href="https://creativecommons.org/licenses/by-nd/4.0/"> Creative Commons Attribution-NoDerivatives 4.0 International License (CC BY-ND 4.0)</a>. <p> 
						
					<li>Do we need to pay for anything on this platform? </li> 
					<p>There is never any fee for downloading, printing, or sharing any of the available resources on this website. </p> 
						
					<li>Am I allowed to share these files with others? </li>
					<p>You are free to print or send PDF files digital to others. </p>
						
					<li>Am I allowed to adapt the text? </li>
					<p>Adapting the text is not permitted but you are allowed to share the products as they are, free of charge. If you make changes to any of the PDF files you lose the legal right of distributing our files in any form or way. If there is something in the text that you think could be improved, please contact us with your suggestions, and we will be happy to try and make improvements or offer you an adapted product.</p>
											
									
					<h2><a name="donations"style="margin-top: 3em;padding-top: 2em">DONATIONS</a></h2>
					
										
					<li>How can I donate?</li>
					<p>Please donate through  <a target='_blank' href="https://www.patreon.com/adventistcommons">https://www.patreon.com/adventistcommons</a>.</p>
						
					<li>How are my donations used?</li>
					<p>Your donation will be used for the development of our website and products such as booklets, tracts, and other resources.</p>
						
					<li>Are donations tax-deductible?</li>
					<p>All donations are processed through the Middle East and North Africa Union. Donations are only tax deductable if sent to the Middle East and North Africa Union through the General Conference via check. Funds should be marked for "MENA Publishing – Adventist Commons".</p>
								
					
					<h2><a name="volunteering"style="margin-top: 3em;padding-top: 2em">VOLUNTEERING</a></h2>
					
						
					<li>Who can be a volunteer?</li>
					<p>Any Adventist member who has a burden to see free Adventist resources shared throughout the least-reached parts of the world.</p>
					
	
					<li>Do we get paid for our work?</li>
					<p>At times, we may be able to remunerate for specific tasks to complete urgent projects, however, in general, we rely on a volunteer base.</p>
						
					<li>Does my volunteer work count as church employment?</li>
					<p>No, it counts as voluntary contribution to support the mission of the Seventh-day Adventist Church.</p>
						
								
					<h2><a name="general"style="margin-top: 3em;padding-top: 2em">GENERAL</a></h2>
					
					<li>How does this project relate to current publishing operations around the world?</li>
					<p>This initiative is complementary to current publishing operations, in that it focuses primarily on evangelistic and discipleship resources for unreached people groups.</p>
						
																				
				
			
		</div>
	</div>
</div>

{% endblock %}
