{% extends "twigs/template.twig" %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-11">
			<h1 class="mt-4">Privacy Policy</h1>
			<p><small>Effective date: 11 July 2019</small></p>
			<p>Welcome to Adventist Commons. In this privacy and cookie policy (the “Privacy Policy”), we explain in detail how we collect, use and disclose your personal data, and what choices you have with respect to your personal data. Please read this Privacy Policy carefully. If, after reading it, you still have any questions, please contact us so that we could address your concerns.</p>
			<ol>
				<li><a href="#general-information">GENERAL INFORMATION</a></li>
				<li><a href="#the-types-of-personal-data-that-we-collect">THE TYPES OF PERSONAL DATA THAT WE COLLECT</a></li>
				<li><a href="#purposes-for-which-we-use-personal-data">PURPOSES FOR WHICH WE USE PERSONAL DATA</a></li>
				<li><a href="#non-personal-data">NON-PERSONAL DATA</a></li>
				<li><a href="#the-materials-user-accounts-and-direct-messages">THE MATERIALS, USER ACCOUNTS, AND DIRECT MESSAGES</a></li>
				<li><a href="#marketing-communication">MARKETING COMMUNICATION</a></li>
				<li><a href="#retention-period">RETENTION PERIOD</a></li>
				<li><a href="#sharing-and-disclosing-data">SHARING AND DISCLOSING DATA</a></li>
				<li><a href="#transfer-of-personal-data-outside-the-eea">TRANSFER OF PERSONAL DATA OUTSIDE THE EEA</a></li>
				<li><a href="#security">SECURITY</a></li>
				<li><a href="#privacy-of-children">PRIVACY OF CHILDREN</a></li>
				<li><a href="#your-rights-regarding-personal-data">YOUR RIGHTS REGARDING PERSONAL DATA</a></li>
				<li><a href="#cookies">COOKIES</a></li>
				<li><a href="#third-party-links">THIRD-PARTY LINKS</a></li>
				<li><a href="#term-termination-and-amendments">TERM, TERMINATION AND AMENDMENTS</a></li>
				<li><a href="#contact">CONTACT</a></li>
			</ol>

			<ol class="content-list">
				<li>
					<h2><a name="general-information">GENERAL INFORMATION</a></h2>
					<ol class="content-list">
						<li><h3>Applicability of the Privacy Policy.</h3> This Privacy Policy governs the processing of personal data collected from individual users (“you” and “your”) through the online platform Adventist Commons available at <a href="https://adventistcommons.org">https://adventistcommons.org</a>	 and the related services (collectively, “Adventist Commons”). This Privacy Policy does not apply to any third-party applications or software that integrate with Adventist Commons or any other third-party products, services or businesses.</li>
						<li><h3>About Adventist Commons.</h3> Adventist Commons is an online platform that provides resources for the members of the Adventist community. Adventist Commons comprises (i) a directory of downloadable resources and publications in the field of Adventism (e.g., digital books and tracts) available in various languages and dialects and (ii) a crowd-translation platform that allows users to contribute to translations of Adventist texts.</li>
						<li>
							<h3>Definitions.</h3> In this Privacy Policy, you will encounter recurrent terms. For your convenience, we would like to explain what such terms mean:
							<dl class="inline">
								<dt>“Consent”</dt>
								<dd>means a freely given, specific, informed and unambiguous agreement to the processing of personal data;</dd>
								<dt>“Data controller” </dt>
								<dd>means the entity that determines the purposes and means of the processing of personal data;</dd>
								<dt>“Data processor” </dt>
								<dd>means a natural or legal person, public authority, agency or other body which processes personal data on behalf of the data controller; </dd>
								<dt>“GDPR” </dt>
								<dd>means the EU General Data Protection Regulation (Regulation (EU) 216/679);</dd>
								<dt>“Personal data” </dt>
								<dd>means any information relating to a natural person who can be identified, directly or indirectly, by using such information (e.g., name, address, email, phone number, and IP address); and</dd>
								<dt>“Processing” </dt>
								<dd>means the use of personal data in any manner, including, but not limited to, collection, storage, erasure, transfer, and disclosure of personal data.</dd>
							</dl> 
						</li>
						<li><h3>Responsible entity (data controller).</h3> The entity that is responsible for the processing of your personal data through Adventist Commons is Middle East Association of Seventh-Day Adventist Limited having a registered place of business at 61 Andrea Avraamide, 2024 Strovolos, Cyprus, and a business registration number H.E. 22928 (“<strong>we</strong>”, “<strong>us</strong>”, and “<strong>our</strong>”). </li>
						<li><h3>Our role as a data controller and a data processor under the GDPR.</h3> When handling personal data, we act as a data controller and a data processor in terms of the GDPR. Our role depends on the specific situation involving personal data as explained in detail below:
							<ul>
								<li>We act in a capacity of a data controller when we ask you to submit your personal data that is necessary to ensure your access and use of Adventist Commons (e.g., when you  register your user account, sign up for a newsletter, or communicate with us). In such instances, we are a data controller because we make decisions about the types of personal data that should be collected from you and the purposes for which such personal data should be used. Therefore, we comply with data controller’s obligations set forth in the GDPR.</li>
								<li>We act in a capacity of a data processor in situations when you upload texts, links, images, messages, or other content (collectively, the “<strong>Materials</strong>”) onto Adventist Commons and those Materials contain personal data. We do not own, control, or make decisions about the personal data included in the Materials and such personal data is processed only in accordance with respective user’s instructions. In such situations, the users uploading the Materials act as data controllers in terms of the GDPR and such users are responsible for deciding what personal data should be collected and how such data should be processed. In the situations when we act in capacity of a data processor, we comply with data processors’ obligations set forth in the GDPR. In order to ensure that personal data is processed in accordance with the strictest data protection standards, we request our users to conclude a data processing agreement which is incorporated by reference into our terms of use and available at <a href="/assets/docs/data-processing-agreement.pdf">https://adventistcommons.org/assets/docs/data-processing-agreement.pdf</a>.</li>
							</ul>
						</li>
						<li><h3>Applicable laws.</h3> We process personal data in accordance with applicable data protection laws, including, but not limited to, the Cyprus Law 125(I) of 2018 (“Law for Providing for the Protection of Natural Persons with Regard to the Processing of Personal Data and for the Free Movement of Such Data”) and the GDPR. </li>
						<li><h3>Your consent to the Privacy Policy.</h3> Your use of Adventist Commons is subject to this Privacy Policy. We encourage you to review the Privacy Policy before submitting any personal data through Adventist Commons. In some cases, we may seek to obtain your consent for the processing of your personal data. For example, we may seek your prior consent for the following purposes:
							<ul>
								<li>If we are required by law to do so;</li>
								<li>If we intend to collect other types of personal data that are not mentioned in this Privacy Policy;</li>
								<li>If we intend to use your personal data for the purposes that are not indicated in this Privacy Policy;</li>
								<li>If we would like to disclose or transfer your personal data to third parties that are not indicated in this Privacy Policy; or</li>
								<li>If we significantly amend this Privacy Policy.  </li>
							</ul>
						</li>
					</ol>
				</li>
				<li>
					<h2><a name="the-types-of-personal-data-that-we-collect">THE TYPES OF PERSONAL DATA THAT WE COLLECT</a></h2>
					<ol class="content-list">
						<li><h3>Types of personal data.</h3> We comply with data minimization principles and collect only a minimal amount of personal data that is necessary to ensure your proper use of Adventist Commons:
							<ul>
								<li>When you create your user account, we collect your (i) full name, (ii) email address, (iii) password.</li>
								<li>When you update your user account, we collect your (i) location, (ii) bio, (iii) languages you speak, (iv) skills, and (iv) organizational affiliation. The provision od such data is optional and you can decide whether to provide it. </li>
								<li>When you sign up for a newsletter, we collect your email address. </li>
								<li>When you submit a comment under an article available on Adventist Commons, we collect your (i) name or username, (ii) email address, (iii) website, and (iv) any information that you decide to provide in your comment. </li>
								<li>When you contact us by email, we collect your (i) name, (ii) email address, and (iii) any information or personal data that you decide to provide us. </li>
								<li>When you use Adventist Commons, we collect your IP address.</li>
							</ul>
						</li>
						<li><h3>Additional data.</h3> We may receive certain additional data when submitted through Adventist Commons if you participate in a focus group, contest, activity or event, request support, interact with our social media accounts, submit your feedback and reviews or otherwise communicate with us. Please note that the provision of such data is optional, and you may choose what personal data you would like to share with us. We kindly request you to exercise your due diligence when making your personal data publicly available. We will use such personal data to reply to you, provide you with the requested services, or for pursuing our legitimate business interests (i.e., to analyze and improve our business).</li>
						<li><h3>Personal data obtained from third parties.</h3> When using Adventist Commons, you can choose to permit or restrict services, functionalities, and integrations provided by third parties, including, but not limited to, social media providers Facebook, Google or WhatsApp (collectively, the “<strong>Third-Party Services</strong>”). Once enabled, the providers of the Third-Party Services may share certain information with us (e.g., your phone number or public profile information), subject to the privacy policy of the Third-Party Services. You are strongly encouraged to check carefully the privacy settings and notices of the Third-Party Services to understand what information may be disclosed to us. </li>
						<li><h3>Sensitive data.</h3> We do not collect any special categories of personal data (“sensitive data”) from you, such as your health information, opinion about your religious and political beliefs, racial origins, membership of a professional or trade association, or information about your sexual orientation, unless you decide to provide such sensitive data, at your own sole discretion. </li>
						<li><h3>Failure to provide personal data.</h3> If you fail to provide us with the personal data when requested, we may not be able to perform the requested operation and you may not be able to use the full functionality of Adventist Commons, receive the services provided through Adventist Commons, or get our response.</li>
					</ol>
				</li>
				<li>
					<h2><a name="purposes-for-which-we-use-personal-data">PURPOSES FOR WHICH WE USE PERSONAL DATA</a></h2>
					<ol class="content-list">
						<li>
							<h3>We respect strictest data protection principles.</h3> Thus, we process your personal data only for specified and legitimate purposes explicitly mentioned in this Privacy Policy. In short, we will use your personal data only for the purposes of enabling you to use the full functionality of Adventist Commons, maintaining and improving Adventist Commons, conducting research about our business activities, administrative purposes, and replying to your enquiries. The detailed description of the purposes and legal basis for processing of your personal data is provided below.
							<table class="table table-striped table-bordered">								
								<thead class="thead-dark">
									<tr>
										<th scope="col">Personnal data</th>
										<th scope="col">Purpose</th>
										<th scope="col">Legal basis</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											When you create your user account:
											<ul>
												<li>Full name</li>
												<li>Email address</li>
												<li>Password</li>
											</ul>
											When you create your user account by using your Facebook, Google or WhatsApp:
											<ul>
												<li>Your public profile information</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>To create and maintain your user account</li>
												<li>To provide you with access to Adventist Commons</li>
												<li>To contact you, if necessary</li>
												<li>To ensure security of Adventist Commons</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>Performing a contract with you</li>
												<li>Pursuing our legitimate business interests (to ensure security)</li>
											</ul>
										</td>
									</tr>
									
									<tr>
										<td>
											When you update your user account:
											<ul>
												<li>Location</li>
												<li>Bio</li>
												<li>Languages you speak</li>
												<li>Skills</li>
												<li>Organizational affiliation</li>
											</ul>

										</td>
										<td>
											<ul>
												<li>To feature your profile on Adventist Commons</li>
												<li>To contact you, if necessary</li>
												<li>To ensure security of Adventist Commons</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>Your consent (optional personal data)</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>
											When you sign up for a newsletter:
											<ul>
												<li>Email address </li>
											</ul>
										</td>
										<td>
											
											<ul>
												<li>To deliver the requested newsletter</li>
												<li>To update you about our new services</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>Your consent</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>
											When you leave a comment:
											<ul>
												<li>Name</li>
												<li>Email address</li>
												<li>Website</li>
												<li>Information you provide in your comment</li>
											</ul>

										</td>
										<td>
											<ul>
												<li>To feature your comment</li>
												<li>To contact you, if necessary</li>
												<li>To conduct analytics</li>
												<li>To ensure security of Adventist Commons</li>
												<li>To improve Adventist Commons</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>Your consent</li>
												<li>Pursuing our legitimate business interests (to analyze, improve, and ensure security of our business)</li>
											</ul>

										</td>
									</tr>
									<tr>
										<td>
											When you contact us by email:
											<ul>
												<li>Name</li>
												<li>Email address</li>
												<li>Information you provide in your message</li>
											</ul>

										</td>
										<td>
											<ul>
												<li>To respond to your enquiries</li>
												<li>To provide you with the requested information</li>
											</ul>

										</td>
										<td>

											<ul>
												<li>Pursuing our legitimate business interests (to grow and promote our business)</li>
												<li>Your consent (for optional personal data)</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td>
											When you use Adventist Commons:
											<ul>
												<li>IP address</li>
											</ul>
										</td>
										<td>
											<ul>
												<li>To analyze, improve, and evaluate our business activities</li>
												<li>To personalize Adventist Commons for your location</li>
											</ul>


										</td>
										<td>
											<ul>
												<li>Performing a contract with you</li>
												<li>Pursuing our legitimate business interests (to analyze and improve our business activities)</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</ul>
					</ol>
				</li>
				<li>
					<h2><a name="non-personal-data">NON-PERSONAL DATA</a></h2>
					<ol class="content-list">
						<li>
							<h3>Types of non-personal data.</h3> When you use Adventist Commons, we may automatically collect certain non-personal data about your use of Adventist Commons and your device for analytics purposes. Such non-personal data does not allow us to identify you in any manner. The non-personal data collected by us includes information about:
							<ul>
								<li>The type of your device; </li>
								<li>Operating systems and browsers used by you; </li>
								<li>Your time zone;</li>
								<li>You language;</li>
								<li>Your browsing patterns; and</li>
								<li>URL addresses of websites accessed from Adventist Commons.</li>
							</ul>
						</li>
						<li><h3>Your feedback.</h3> If you contact us, we may keep records of any questions, complaints or compliments made by you and the response, if any. Where possible, we will de-identify your personal data. Please note that de-identified personal data is also considered to be non-personal data. </li>
						<li><h3>Purposes of non-personal data.</h3> We will use non-personal data in furtherance of our legitimate interests in operating Adventist Commons, conducting our business activities, and developing new products and services. More specifically, we collect the non-personal data for the following purposes:
							<ul>
								<li>To analyze what kind of users visit and use Adventist Commons;</li>
								<li>To identify the channels through which Adventist Commons is accessed and used;</li>
								<li>To examine the relevance, popularity, and engagement rate of the content available on Adventist Commons; </li>
								<li>To identify and fix errors;</li>
								<li>To investigate and help prevent security issues and abuse; </li>
								<li>To develop and provide additional features to Adventist Commons; and</li>
								<li>To personalize Adventist Commons for your specific needs. </li>
							</ul>
						</li>
						<li><h3>Aggregated data.</h3> In case your non-personal data is combined with certain elements of your personal data in a way that allows us to identify you, we will handle such aggregated data as personal data. If your personal data is aggregated or de-identified in a way that it can no longer be associated with an identified or identifiable natural person, it will not be considered personal data and we may use it for any business purpose.</li>
					</ol>
				</li>
				<li>
					<h2><a name="the-materials-user-accounts-and-direct-messages">THE MATERIALS, USER ACCOUNTS, AND DIRECT MESSAGES</a></h2>
					<ol class="content-list">
						<li><h3>Information provided in the Materials.</h3> You can publish and share various information via the Materials that you upload onto Adventist Commons. Your Materials may become visible to the users of Adventist Commons. Thus, we ask you to exercise your due diligence when making available any personal data or other sensitive information in your Materials. You are allowed to publish personal data of other persons who have not provided you with authorization to share their personal data. </li>
						<li><h3>Visibility of your user account.</h3> Please note that the personal data that you submit during the registration process or update later (e.g., your name and bio) will be visible to other users of Adventist Commons. The names of Adventist Commons’ users may not represent their actual names and we are not responsible for the accuracy, reliability, or truthfulness of such data. Please keep it in mind when communicating with the users of Adventist Commons. </li>
						<li><h3>Managing and deleting your user account.</h3> You are able to access and edit certain personal data, such as your bio, through your user account. After you edit your personal data, we will amend our records as soon as possible. Once you delete your user account, we will permanently delete your user account, personal data and non-personal data. As a result, your rights listed in Section 12 of this Privacy Policy cannot be exercised after you delete your user account. Once you delete your user account, we will not be able to recover your personal data. Your comments and other contributions made by you to Adventist Commons will remain available on Adventist Commons (we will anonymize the personal data pertaining to you). </li>
					</ol>
				</li>
				<li>
					<h2><a name="marketing-communication">MARKETING COMMUNICATION</a></h2>
					<ol class="content-list">
						<li><h3>Marketing messages.</h3> After you sign up to receive our newsletter, we will send you marketing messages, such as newsletters, brochures, promotions and advertisements, informing you about our new services or new features of Adventist Commons. You will receive such marketing messages only if (i) you have provided your express (“opt-in”) consent to receive marketing messages. Please note that your voluntary subscription to receive our newsletter constitutes such opt-in consent. We may also send you, from time to time, information about our new services that are similar to services already used by you. </li>
						<li><h3>Opting-out.</h3> You can opt-out from receiving marketing messages at any time free of charge by clicking on the “unsubscribe” link contained in any of the messages sent to you or  by contacting us directly.</li>
						<li><h3>Informational notices.</h3> From time to time (if we have your email address), we may send you informational notices, such as service-related, technical or administrative emails, information about Adventist Commons, your privacy and security, and other important matters. Please note that we will send such notices on an “if-needed” basis and they do not fall within the scope of direct marketing communication that requires your prior consent. </li>
					</ol>
				</li>
				<li>
					<h2><a name="retention-period">RETENTION PERIOD</a></h2>
					<ol class="content-list">
						<li><h3>Retention of personal data.</h3> We will store your personal data in our systems only: (i) as long as such personal data is required for the purposes described in this Privacy Policy, (ii) if we are obliged by law to store such data for certain period of time, or (iii) until you request us to delete your personal data - whichever comes first. After your personal data is no longer necessary for its purposes and there is no other legal basis for storing it, we will immediately delete your personal data from our systems.</li>
						<li><h3>Retention of non-personal data.</h3> We may retain non-personal data pertaining to you for as long as necessary for the purposes described in this Privacy Policy. This may include keeping non-personal data for the period that is necessary to pursue our legitimate business interests, conduct audits, comply with (and demonstrate compliance with) legal obligations, resolve disputes and enforce our agreements.</li>
						<li><h3>Retention as required by law.</h3> Please note that, in some cases, we may be obliged by law to store your personal data for a certain period of time. In such cases, we will store your personal data for the time period stipulated by the applicable law and delete the personal data as soon as the required retention period expires.</li>
					</ol>
				</li>
				<li>
					<h2><a name="sharing-and-disclosing-data">SHARING AND DISCLOSING DATA</a></h2>
					<ol class="content-list">
						<li><h3>Do we share your personal data?</h3> If necessary, we may disclose your personal data to the service providers with whom we cooperate and other third parties (our data processors). For example, we may share your personal and non-personal data with entities that provide certain technical support services to us, such as web analytics, data processing, advertising, and email distribution services, or if you explicitly request us to disclose the personal data. </li>
						<li><h3>When do we share your personal data?</h3> The disclosure of your personal data is limited to the situations when such data is required for the following purposes:
							<ul>
								<li>Ensuring the operation of Adventist Commons;</li>
								<li>Ensuring the delivery of the services requested by you;</li>
								<li>Providing you with the requested information;</li>
								<li>Pursuing our legitimate business interests;</li>
								<li>Enforcing our rights, preventing fraud, and security purposes;</li>
								<li>Carrying out our contractual obligations;</li>
								<li>Law enforcement purposes; or </li>
								<li>If you provide your prior consent to such a disclosure. </li>
							</ul>
						</li>
						<li>
							<h3>List of data processors</h3>. We will share your personal data only with the third parties that agree to ensure an adequate level of protection of personal data that is consistent with this Privacy Policy and the applicable data protection laws. In addition to our in-house software developers and system administrators, the third parties (data processors) that may have access to your personal data are listed below.
							<table class="table table-striped table-bordered">								
								<thead class="thead-dark">
									<tr>
										<th scope="col">Service</th>
										<th scope="col">Name</th>
										<th scope="col">Location</th>
										<th scope="col">More information</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											Hosting service provider
										</td>
										<td>
											MDDHosting
										</td>
										<td>
											United States
										</td>
										<td>
											<a href="https://www.mddhosting.com">https://www.mddhosting.com</a>
										</td>
									</tr>
									<tr>
										<td>
											Business analytics service provider
										</td>
										<td>
											Google Analytics
										</td>
										<td>
											United States
										</td>
										<td>
											<a href="https://analytics.google.com">https://analytics.google.com</a>
										</td>
									</tr>
									<tr>
										<td>
											Email service provider
										</td>
										<td>
											Mailjet
										</td>
										<td>
											France
										</td>
										<td>
											<a href="https://www.mailjet.com">https://www.mailjet.com</a> 
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li><h3>Sharing of non-personal data.</h3> We may disclose non-personal data and de-identified data for any purpose. For example, we may share it with prospects or partners for business or research purposes, for improving Adventist Commons, responding to lawful requests from public authorities or developing new products and services. </li>
						<li><h3>Legal requests.</h3> If necessary, we will to disclose information about the users of Adventist Commons, if requested by a public authority, to the extent necessary for pursuing a public interest objective, such as national security or law enforcement.</li>
						<li><h3>Successors.</h3> In case our business is sold partly or fully, we will provide your personal data to a purchaser or successor entity and request the successor to handle your personal data in line with this Privacy Policy.</li>
					</ol>
				</li>
				<li>
					<h2><a name="transfer-of-personal-data-outside-the-eea">TRANSFER OF PERSONAL DATA OUTSIDE THE EEA</a></h2>
					<ol class="content-list">
						<li>Although we are based in the European Economic Area (EEA), some of the third parties listed in Section 8 of this Privacy Policy are located outside the EEA and, if you reside in the EEA, we may need to transfer your personal data to jurisdictions outside the EEA. In case it is necessary to make such a transfer, we will make sure that the jurisdiction in which the recipient third party is located guarantees an adequate level of protection for your personal data (e.g., the country in which the recipient is located is white-listed by the European Commission or the recipient is a Privacy-Shield certified entity) or we conclude an agreement with the respective third party that ensures such protection (e.g., a data processing agreement based on the Standard Contractual Clauses provided by the European Commission). </li>
					</ol>
				</li>
				<li>
					<h2><a name="security">SECURITY</a></h2>
					<ol class="content-list">
						<li><h3>Our security measures.</h3> We put our best efforts to keep your personal data safe and secure. We implement organizational and technical information security measures to protect your personal data from loss, misuse, unauthorized access, and disclosure. The security measures taken by us include secured networks (we use SSL certificates), strong passwords, limited access to your personal data by our staff, and anonymization of personal data (when possible). In order to ensure the security of your personal data, we kindly ask you to use Adventist Commons through a secure network only. </li>
						<li><h3>Handling security breaches.</h3> Although we put our best efforts to protect your personal data, given the nature of communications and information processing technology and the Internet, we cannot be liable for any unlawful destruction, loss, use, copying, modification, leakage, and falsification of your personal data caused by circumstances that are beyond our reasonable control. In case a personal data breach occurs, we will immediately take reasonable measures to mitigate the breach, as required by the applicable law. Our liability for any security breach will be limited to the highest extent permitted by the applicable law. </li>
					</ol>
				</li>
				<li>
					<h2><a name="privacy-of-children">PRIVACY OF CHILDREN</a></h2>
					<ol class="content-list">
						<li>We do not allow anyone younger than 18 years old to use Adventist Commons. Thus, we do not knowingly collect personal data of persons below the age of 18. If you learn that anyone younger than 18 has unlawfully provided us with personal data and you are a parent or legal guardian of that person, please contact us and we will take immediate steps to delete such personal data.</li>
						<li>To protect children’s privacy, we encourage parents and legal guardians to monitor their children’s Internet usage and instruct their children not to submit any personal data through Adventist Commons.</li>
					</ol>
				</li>
				<li>
					<h2><a name="your-rights-regarding-personal-data">YOUR RIGHTS REGARDING PERSONAL DATA</a></h2>
					<ol class="content-list">
						<li><h3>What rights do you have?</h3> Individuals located in certain countries, including the EU, have certain statutory rights in relation to their personal data. You may ask us to:
							<ul>
								<li>Get a copy of your personal data that we store;</li>
								<li>Get a list of purposes for which your personal data is processed;</li>
								<li>Rectify inaccurate personal data;</li>
								<li>Move your personal data to another processor;</li>
								<li>Delete your personal data from our systems;</li>
								<li>Object and restrict processing of your personal data;</li>
								<li>Withdraw your consent; or</li>
								<li>Process your complaint regarding your personal data. </li>
							</ul>
						</li>
						<li><h3>How to exercise your rights?</h3> If you would like to exercise your rights, please contact us by email at <a href="mailto://info@adventistcommons.org">info@adventistcommons.org</a> and explain in detail your request. In order verify the legitimacy of your request, we may ask you to provide us with an identifying piece of information, so that we would be able to locate you in our system. We will answer your request within a reasonable timeframe but no later than 2 weeks. Your requests can be submitted free of charge once per calendar year. If you submit your requests more than once per year, we reserve the right to charge a small administrative fee for providing the requested information. </li>
						<li><h3>How to launch a complaint?</h3> If you would like to launch a complaint about the way in which we handle your personal data, we kindly ask you to contact us first and express your concerns. After you contact us, we will investigate your complaint and provide you with our response as soon as possible (no later than 2 weeks). If you are not satisfied with the outcome of your complaint, you have the right to lodge a complaint with your local data protection authority.</li>
					</ol>
				</li>
				<li>
					<h2><a name="cookies">COOKIES</a></h2>
					<ol class="content-list">
						<li><h3>What is a cookie?</h3> A cookie is a small piece of data, typically consisting of letters and numbers. When you visit a website, the website may send a cookie to your browser. Subsequently, the browser may store the cookie on your computer or mobile device. Cookies are designed to allow the recognition of your device and collection of certain information about your use of websites. Thus, over time, cookies allow websites to “remember” your actions, login details, settings, and preferences. There are several types of cookies, namely, (i) persistent cookies, which remain valid until their expiration date or until deleted and (ii) session cookies that are stored on a web browser and remain valid until the moment the browser is closed. Cookies may also be (i) first-party cookies (set by the website itself) and (ii) third-party cookies (placed by third-party websites).</li>
						<li>
							<h3>What cookies do we use?</h3> In addition to technical and functional (strictly necessary) cookies, we use marketing and statistics cookies that allow us to create, implement, and examine our digital marketing campaigns, reach the right users, and analyze the productivity of our marketing campaigns. The table below provides an overview of cookies used by us, including their purposes and expiration time.
							<table class="table table-striped table-bordered">								
								<thead class="thead-light">
									<tr>
										<th scope="table" colspan="4">Marketing cookies</th>
									</tr>
								</thead>
								<thead class="thead-dark">
									<tr>
										<th scope="col">Cookies</th>
										<th scope="col">Type/provider</th>
										<th scope="col">Expiration</th>
										<th scope="col">Purpose</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>						
											__widgetsettings
										</td>
										<td>
											Third-party (Twitter) HTML cookie
										</td>
										<td>
											Persistent
										</td>
										<td>
											The cookie is used to tract you across websites.
										</td>						
									</tr>
									<tr>
										<td>						
											_pinterest_cm
										</td>
										<td>
											Third-party (Pinterest) HTTP cookie
										</td>
										<td>
											1 year
										</td>
										<td>
											The cookie is used by Pinterest to track your usage of services.
										</td>						
									</tr>
									<tr>
										<td>						
											common/cavalry_endpoint.php
										</td>
										<td>
											Third-party (Facebook) Pixel cookie
										</td>
										<td>
											End of session
										</td>
										<td>
											Pending
										</td>						
									</tr>
									<tr>
										<td>						
											i/jot
										</td>
										<td>
											Third-party (Twitter) Pixel cookie
										</td>
										<td>
											End of session
										</td>
										<td>
											The cookie is used to set your unique ID that allows third-party advertisers to serve you relevant advertising.
										</td>						
									</tr>
									<tr>
										<td>						
											local_storage_support_test
										</td>
										<td>
											Third-party (Twitter) HTML cookie
										</td>
										<td>
											Persistent
										</td>
										<td>
											The cookie is used in context with the local storage function in your browser. This function allows Adventist Commons to load faster by pre-loading certain procedures.
										</td>						
									</tr>
								</tbody>
							</table>

							<table class="table table-striped table-bordered">								
								<thead class="thead-light">
									<tr>
										<th scope="table" colspan="4">Statistics cookies</th>
									</tr>
								</thead>
								<thead class="thead-dark">
									<tr>
										<th scope="col">Cookies</th>
										<th scope="col">Type/provider</th>
										<th scope="col">Expiration</th>
										<th scope="col">Purpose</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>						
											_ga
										</td>
										<td>
											First-party HTTP cookie
										</td>
										<td>
											2 years
										</td>
										<td>
											The cookie is used to register your unique ID that is used to generate statistics data on how you use Adventist Commons.
										</td>						
									</tr>
									<tr>
										<td>						
											_gat
										</td>
										<td>
											First-party HTTP cookie
										</td>
										<td>
											1 day
										</td>
										<td>
											The cookie is used by Google Analytics to throttle request rate.
										</td>						
									</tr>
									<tr>
										<td>						
											_gid
										</td>
										<td>
											First-party HTTP cookie
										</td>
										<td>
											1 day
										</td>
										<td>
											The cookie is used to register your unique ID that is used to generate statistics data on how you use Adventist Commons.
										</td>						
									</tr>
									<tr>
										<td>						
											collect
										</td>
										<td>
											Third-party (Google Analytics) Pixel cookie
										</td>
										<td>
											End of session
										</td>
										<td>
											The cookie is used to send data to Google Analytics about your device and behavior. It also tracks you across devices and marketing channels. 
										</td>						
									</tr>
								</tbody>
							</table>
						</li>

						<li><h3>For what purposes do we use cookies?</h3> We use cookies for the following purposes (please refer to the table above for the detailed description of the purposes of each cookie used by us):
							<ul>
								<li>To identify you as a unique user when you are browsing Adventist Commons;</li>
								<li>To verify your details while you are navigating through Adventist Commons;</li>
								<li>To customize and personalize Adventist Commons for you;</li>
								<li>To remember your custom preferences; </li>
								<li>To enable you to use features and functionalities of Adventist Commons;</li>
								<li>To promote Adventist Commons; </li>
								<li>To serve you content that is of interest to you; </li>
								<li>To ensure the security of Adventist Commons;</li>
								<li>To generate information and reports about your use of Adventist Commons; and</li>
								<li>To serve you advertisement that may be of interest to you.</li>
							</ul>
						</li>
						<li><h3>Cookie Consent.</h3> When you visit Adventist Commons for the first time, we may ask you to provide us with your consent to our use of cookies. If you do not provide your consent to our use of all cookies, we will serve you technical and functionality cookies only that are strictly necessary to ensure the proper functioning of Adventist Commons. The use of such cookies does not require your consent. Please note that we may not be able to provide you with the best possible user experience if not all cookies are enabled.</li>
						<li><h3>Google Analytics.</h3> We use Google Analytics, the service provided by Google, Inc. (“Google”) to analyze your use of Adventist Commons. Google Analytics generates statistical and other information by means of cookies and we use its services to create reports about your use of Adventist Commons. Google Analytics cookies are anonymous first-party cookies. Such cookies include cookies entitled “__gat”, “__gid”, and “__ga”. Please note that the use of Google Analytics cookies is anonymous and does not allow us to identify you in any manner. The information generated by cookies about your use of Adventist Commons (including your IP address) will be transmitted to and stored by Google on servers in the United States. Please note that your IP address will be anonymized and Google will not combine your IP address with other information Google holds about you. Thus, Google will not be able to identify you. In certain cases (e.g., when required by law or when third parties conduct services on behalf of Google), Google may transfer the information to third parties. For more information about Google Analytics’ privacy practices, please visit <a href="https://support.google.com/analytics/answer/6004245n">https://support.google.com/analytics/answer/6004245n</a> . If you would like to opt out from Google Analytics, you can do so by installing a Google Analytics opt-out browser add-on available at <a href="https://tools.google.com/dlpage/gaoptout?hl=en">https://tools.google.com/dlpage/gaoptout?hl=en</a> . </li>
						<li><h3>Disabling cookies.</h3> If you would like to refuse our use of cookies on Adventist Commons, you can decline our use of non-strictly necessary technical cookies through the cookie banner that you see on Adventist Commons when you visit it for the first time. You can also disable cookies at any time by declining cookies in your browser or device (please check your browser’s or device’s “help” functionality). Please note that some parts of Adventist Commons may not function properly without all our cookies. For more information on how to disable cookies on a particular browser, please visit:
							<ul>
								<li>Safari:  <a href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac">https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a> </li>
								<li>Chrome: <a href="https://support.google.com/chrome/answer/95647">https://support.google.com/chrome/answer/95647</a> </li>
								<li>Firefox: <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a> </li>
								<li>Internet Explorer: <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a> </li>
								<li>Microsoft Edge: <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy">https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy</a></li>
							</ul>
						</li>
					</ol>
				</li>
				<li>
					<h2><a name="third-party-links">THIRD-PARTY LINKS</a></h2>
					<ol class="content-list">
						<li>Adventist Commons contains links to websites that are owned, operated and controlled by third-party service providers. Please be aware that we are not responsible for the privacy and security practices employed by such third parties. We encourage you to be aware when you leave Adventist Commons and read carefully the privacy statements of each and every website or service that you access. </li>
						<li>We advise you to carefully scan every link before clicking on it to ensure the link is not infected and free of any kind of virus or malware that can damage your operating system or device. Even if you did scan the links you should take extra safety and security precautions before accessing those links and carefully assess the security of the website or service that you intend to use.  </li>
					</ol>
				</li>
				<li>
					<h2><a name="term-termination-and-amendments">TERM, TERMINATION AND AMENDMENTS</a></h2>
					<ol class="content-list">
						<li><h3>Term and termination.</h3> This Privacy Policy enters into force on the effective date indicated at the top of the Privacy Policy and remains valid until terminated or updated by us. </li>
						<li><h3>Amendments.</h3> We may change this Privacy Policy from time to time to address the changes in laws, regulations, and industry standards. The amended version of the Privacy Policy will be posted on this page with a new effective date and, if we have your email address, we will send you a notice about all the changes implemented by us. We encourage you to review our Privacy Policy to stay informed.</li>
						<li><h3>Consent to amendments.</h3> For significant material changes in the Privacy Policy or, where required by the applicable law, we may seek your consent. If you disagree with the changes to the Privacy Policy, you should cease using Adventist Commons. </li>
					</ol>
				</li>
				<li>
					<h2><a name="contact">CONTACT</a></h2>
					<ol class="content-list">
						<li>
							Please feel free to contact us if you have any questions about the Privacy Policy, our privacy and security practices, or would like to exercise your rights listed in Section 12 of the Privacy Policy. You may contact us by using the following contact details:
							<br />
							<strong>Email</strong>: <a href="mailto://info@adventistcommons.org">info@adventistcommons.org</a>
							<br />
							<strong>Postal address</strong>: Middle East Union Bldg., 45 Ferdous Street, Sabtieh, Metn, Beirut, Lebanon
						</li>
					</li>
				</ol>
			</li>
		</ol>
	</div>
</div>
</div>

{% endblock %}
