{% extends "twigs/template.twig" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xl-10 col-lg-11">
			<h1 class="mt-4">Terms of Use</h1>
			<p><small>Effective date: 11 July 2019</small></p>
			<p>Welcome to Adventist Commons. By accessing and using Adventist Commons, you agree to be legally bound by these Terms. Please read the Terms carefully. If you do not agree with one or more provisions of these Terms, you should not use Adventist Commons.</p>
			<ol>
				<li><a href="#general-information">GENERAL INFORMATION</a></li>
				<li><a href="#user-account">USER ACCOUNT</a></li>
				<li><a href="#user-generated-content">USER-GENERATED CONTENT</a></li>
				<li><a href="#acceptable-use-policy">ACCEPTABLE USE POLICY</a></li>
				<li><a href="#marketing-and-informational-notices">MARKETING AND INFORMATIONAL NOTICES</a></li>
				<li><a href="#security">SECURITY</a></li>
				<li><a href="#intellectual-property">INTELLECTUAL PROPERTY</a></li>
				<li><a href="#availability">AVAILABILITY</a></li>
				<li><a href="#disclaimer-of-warranties">DISCLAIMER OF WARRANTIES</a></li>
				<li><a href="#limitation-of-liability">LIMITATION OF LIABILITY</a></li>
				<li><a href="#indemnification">INDEMNIFICATION</a></li>
				<li><a href="#severability">SEVERABILITY</a></li>
				<li><a href="#governing-law-and-disputes">GOVERNING LAW AND DISPUTES</a></li>
				<li><a href="#miscellaneous">MISCELLANEOUS</a></li>
				<li><a href="#contact">CONTACT</a></li>
			</ol>	
			<ol class="content-list">
				<li>
					<h2><a name="general-information">GENERAL INFORMATION</a></h2>
					<ol class="content-list">
						<li>These Adventist Commons Terms of Use (the “Terms”) constitute a legally binding agreement between the company Middle East Association of Seventh-Day Adventist Limited having a registered place of business at 61 Andrea Avraamide, 2024 Strovolos, Cyprus, and a business registration number H.E. 22928 (the “Company”, “we”, “us”, and “our”) and an individual user (the “user”) accessing and using the online platform Adventist Commons available at <a href="https://adventistcommons.org">https://adventistcommons.org</a> and the related services (collectively, “Adventist Commons”). </li>
						<li><h3>About Adventist Commons.</h3> Adventist Commons is an online platform that provides resources for the members of the Adventist community. Adventist Commons comprises (i) a directory of downloadable resources and publications in the field of Adventism (e.g., digital books and tracts) available in various languages and dialects and (ii) a crowd-translation platform that allows users to contribute to translation of Adventist texts. </li>
						<li><h3>License to use Adventist Commons.</h3> We grant the user a personal, revocable, non-exclusive, non-transferable and limited license to use Adventist Commons pursuant to these Terms. The user is not allowed to use Adventist Commons in countries where it may be restricted or prohibited by local legislation.</li>
						<li><h3>Minors.</h3> Adventist Commons is not marketed and should not be used by persons under the age of 18. </li>
						<li><h3>Disclaimer.</h3> All information provided on Adventist Commons is for general information purposes only; it does not constitute technical or expert advice. Although we regularly monitor Adventist Commons, we cannot guarantee the accuracy, reliability, currency, relevance, and completeness of the information available on Adventist Commons, neither provided by us, the users, nor by any third parties whose content is featured on Adventist Commons. </li>
						<li><h3>Third-party links.</h3> Adventist Commons may contain links to websites, services, and other online sources owned and operated by third parties (e.g., social media platforms). We are not responsible or liable in any manner for the content of such third-party links and information, as well as the security and privacy practices deployed by the operators of third-party websites and services. The user is requested to exercise due diligence before clicking on any third-party links. </li>
						<li><h3>Support.</h3> Any requests for customer or technical support should be addressed to us by email at <a href="info@adventistcommons.org">info@adventistcommons.org</a>.</li>
						<li>
							<h3>Privacy and other relevant terms.</h3> The documents that include important provisions regarding user’s access and use of Adventist Commons and should be read and interpreted together with these Terms are:
							<ul>
								<li>Our privacy and cookie policy available at <a href="/privacy">https://adventistcommons.org/privacy</a> (the “Privacy Policy”), which describes in detail how we handle personal data collected and processed through Adventist Commons; </li>
								<li>Our data processing agreement available at <a href="/assets/docs/data-processing-agreement.pdf">https://adventistcommons.org/assets/docs/data-processing-agreement.pdf</a>; and</li>
								<li>Other individual terms and conditions made available by us through Adventist Commons. </li>
							</ul>
						</li>
						<li>
							<h3>User’s warranties.</h3> By using Adventist Commons, the user acknowledges, agrees, and warrants that the user:
							<ul>
								<li>Will comply with these Terms and all applicable local, state, national and foreign laws, treaties, and regulations;</li>
								<li>Will provide only true, accurate, complete, and up-to-date information, including personal data;</li>
								<li>Is at least 18 years old; </li>
								<li>Can conclude legally binding contracts with us; and</li>
								<li>Is not under any type of judicial interdiction.</li>
							</ul>
						</li>
						<li><h3>Fees.</h3> Adventist Commons is provided free of charge and no remuneration is provided for any contributions to Adventist Commons.</li>
					</ol>
				</li>
				<li>
					<h2><a name="user-account">USER ACCOUNT</a></h2>
					<ol class="content-list">
						<li>
							<h3>Registering User Account.</h3> In order to access the full functionality of Adventist Commons, the users are requested to sign up by creating a user’s account (the “User Account”), accepting these Terms, and reviewing the Privacy Policy. We reserve the right, in our sole discretion, to refuse to register the User Account for any reason. When registering the User Account, the user acknowledges, agrees and warrants that the user is a human and not a machine (User Accounts that are registered by machines, bots, and other automated methods are not permitted) and the user will:
							<ul>
								<li>Comply with these Terms and all applicable laws;</li>
								<li>Provide only true, accurate, complete, and up-to-date personal data;</li>
								<li>Register no more than one User Account; and</li>
								<li>Be solely responsible for all information and activities that occur under the User Account. </li>
							</ul>
						</li>
						<li><h3>Personal data provided through the User Account.</h3> The collection and processing of personal data submitted through the User Account is subject to our Privacy Policy. Before registering the User Account, the user will be asked to review the Privacy Policy. Please note that we process personal data for the purposes explicitly listed in the Privacy Policy only. </li>
						<li><h3>Security of the User Account.</h3> The user is solely responsible for maintaining the confidentiality of the User Account, including handling login details and passwords in a secure manner. The user further agrees to immediately notify us about allegedly unauthorized use of his/her User Account or any other security breach related to the User Account. The user is responsible for using secure Internet connection and protected networks for accessing Adventist Commons. We cannot and will not be liable for any loss or damage resulting from user’s failure to comply with these security obligations. If there is an unauthorized use of Adventist Commons through the User Account, the user is requested to inform us without undue delay. </li>
						<li><h3>Deactivation of the User Account.</h3> At any time, the user may deactivate the User Account through the dashboard of the User Account Settings. Upon deactivation of the User Account, these Terms shall terminate.</li>
						<li><h3>Suspension and termination of the User Account.</h3> We reserve the right to suspend or terminate the User Account if, at our sole discretion, we have grounds to believe that user’s use of Adventist Commons seriously and repeatedly breaches these Terms. We may also suspend or terminate the User Account upon a lawful request of a public authority. </li>
						<li><h3>Assignment of the User Account.</h3> The user is not allowed to assign user’s rights under these Terms and the User Account is not transferable.</li>
					</ol>
				</li>
				<li>
					<h2><a name="user-generated-content">USER-GENERATED CONTENT</a></h2>
					<ol class="content-list">
						<li>While using Adventist Commons, the users may submit texts, translations of the texts, messages, comments, images, Web links, and other materials (collectively, the “User-Generated Content”). Please note that the User-Generated Content may become visible and accessible to other users of Adventist Commons. Therefore, we request the users to: (i) exercise their due diligence when uploading the User-Generated Content onto Adventist Commons; (ii) not to make publicly available any sensitive information; and (iii) make sure that, by uploading the User-Generated Content onto Adventist Commons, the user complies with these Terms.</li>
						<li>By uploading the User-Generated Content onto Adventist Commons, the user grants us unrestricted, worldwide, sub-licensable, royalty-free, perpetual, and irrevocable rights to use, distribute, advertise, adapt, remix, modify, publicly display, publicly perform, excerpt, prepare derivative works of, and reproduce the User-Generated Content for any purpose whatsoever. </li>
						<li>The user agrees not to submit the User-Generated Content that violates these Terms or any applicable laws, including intellectual property rights of others.</li>
						<li>The user understands and agrees that, in order to ensure the security of Adventist Commons, we may, but have no obligation to, monitor or review the User-Generated Content. We reserve the right, at our sole discretion, to refuse to upload, modify, delete, or remove the User-Generated Content, in whole or in part, that violates these Terms or may harm the reputation of Adventist Commons. However, the users remain solely responsible for their User-Generated Content.</li>
						<li>The users are not allowed to make publicly available personal data of persons who have not provided the users with their prior authorization or consent to share that personal data (e.g., the user cannot publish name and contact details of a person who has not allowed the user to do so) through the User-Generated Content. </li>
						<li>The User-Generated Content includes users’ personal views and recommendations. The User-Generated Content does not reflect our views, recommendations, endorsement, or any commitments related thereto.</li>
						<li><h3>Comments.</h3> We provide all registered users with a possibility to communiocate with other users through the comments section (the “Comments”). We put reasonable efforts to ensure that any communication data transmitted through the Comments remains secure. We do not intentionally and directly access, manage, correct, delete, or share the Comments, unless it is strictly necessary for provision of Adventist Commons, enforcement of these Terms, or we are requested by law enforcement agencies to do so. The users are solely responsible for any communication through the Comments and the content of the Comments.</li>
					</ol>
				</li>
				<li>
					<h2><a name="acceptable-use-policy">ACCEPTABLE USE POLICY</a></h2>
					<ol class="content-list">
						<li>When using Adventist Commons, the user is required to follow our acceptable use policy outlined in this Section 4. Please be advised that we work closely with law enforcement and we report any inappropriate content that may infringe applicable laws.</li>
						<li>
							The user is not permitted to use Adventist Commons in any manner that substitutes or contributes to the following activities (the list is representative and not exhaustive):
							<ul>
								<li>Any unlawful activity, including violation of any laws, statutes, ordinances, or regulations;</li>
								<li>Fraud;</li>
								<li>Provision of false, inaccurate, or misleading information;</li>
								<li>Dissemination of information about the acts, including pranks and challenges, that may result in injuries, physical harm, or distress to children;</li>
								<li>Dissemination of promotional and advertising materials;</li>
								<li>Posting of content that depicts, link to, or incites others to commit acts of violence;</li>
								<li>Gambling, including contests, lotteries, games of chance, bidding fee auctions, sports forecasting or odds making, Internet gaming, fantasy sports leagues with cash prizes, and sweepstakes;  </li>
								<li>Spreading of malware (e.g., viruses, worms, Trojan horses), spam, and other illegal messaging;</li>
								<li>Spreading ethnically, racially, or otherwise objectionable information;</li>
								<li>Sexually explicit, libellous, harassing, defamatory, abusive, profane, vulgar, threatening, hateful, obscene behaviour and terrorism-related content;</li>
								<li>Advertising or encouraging the use of tobacco, alcohol, and any illegal substances;</li>
								<li>Copying, distributing, renting, reselling, modifying, compromising, damaging, disabling, impairing, and overburdening Adventist Commons; </li>
								<li>Interfering with or abusing other users of Adventist Commons;</li>
								<li>Using bots, scripts, and other automated methods; and</li>
								<li>Collecting and disclosing any information about the users of Adventist Commons.</li>
							</ul>
						</li>
						<li><h3>Reporting inappropriate content.</h3> If the user has a reason to think that some of the content available on Adventist Commons is inappropriate, infringes these Terms, applicable laws, or the rights to privacy, please contact us immediately at <a href="info@adventistcommons.org">info@adventistcommons.org</a>. If any content is reported as inappropriate, we will immediately delete the content from Adventist Commons. </li>
					</ol>
				</li>
				<li>
					<h2><a name="marketing-and-informational-notices">MARKETING AND INFORMATIONAL NOTICES</a></h2>
					<ol class="content-list">
						<li><h3>Marketing messages.</h3> From time to time, we may send users marketing messages, such as newsletters, brochures, promotions and advertisements, informing the users about our new services or new features of Adventist Commons. The users will receive such marketing messages only upon provision of express (“opt-in”) consent to receive marketing messages. User’s voluntary subscription to receive our newsletter constitutes such opt-in consent. </li>
						<li><h3>Opting-out.</h3> The user can opt-out from receiving marketing messages at any time free of charge by clicking on the “unsubscribe” link contained in any of the messages sent by us or contacting us directly.</li>
						<li><h3>Informational notices.</h3> From time to time (if we have user’s email address), we may send informational notices, such as service-related, technical or administrative emails, information about Adventist Commons, the User Account, privacy and security, and other important matters. We will send such notices on an “if-needed” basis and they do not fall within the scope of direct marketing communication that requires prior consent. </li>
					</ol>
				</li>
				<li>
					<h2><a name="security">SECURITY</a></h2>
					<ol class="content-list">
						<li>We take appropriate security measures, such as SSL protocol, strong passwords, and limited access to personal data by our staff, to protect the information that we store on Adventist Commons against unauthorized access. </li>
						<li><h3>Avoiding phishing and scam.</h3> Phishing is an online scam that aims to trick someone into giving up their personal data, such as credit card numbers, social security/national ID numbers, or other financial data. Usually, when scammers have that information, they will then use it to steal money, property or identity. The user agrees not to disclose any financial information through Adventist Commons.</li>
						<li>By using Adventist Commons, the user is solely responsible for interactions with other users of Adventist Commons. The user acknowledges and agrees that we do not conduct any checks of the qualifications, certification, skills, and background of the users accessing Adventist Commons. We make no representations or warranties as to the conduct of the users of Adventist Commons.</li>
						<li><h3>Security incidents.</h3> Given the nature of communications and information processing technology and the Internet, we cannot be liable for any security incidents, cyber attacks, data breaches, and unlawful destruction, loss, use, copying, modification, leakage, and falsification of any information caused by circumstances that are beyond our reasonable control. In case a security incident occurs, we will inform relevant authorities without undue delay and immediately take reasonable measures to mitigate the incident, as required by the applicable law. Our liability for any security incidents will be limited to the highest extent permitted by the applicable law. </li>
					</ol>
				</li>
				<li>
					<h2><a name="intellectual-property">INTELLECTUAL PROPERTY</a></h2>
					<ol class="content-list">
						<li>
							<h3>Adventist Commons Content.</h3> Most of the content made available on Adventist Commons, excluding the User-Generated Content, is owned by us, our partners, agents, licensors, vendors, and/or other content providers (the “Adventist Commons Content”). The Adventist Commons Content includes, but is not limited to, text, images, audiovisual content, source code, trademarks, service marks and trade names. The Adventist Commons Content is protected by the applicable intellectual property laws and international treaties. Unless it is strictly necessary for translation and contribution purposes, the user is not allowed, without obtaining prior written authorization from us, to:
							<ul>
								<li>Copy, distribute, and make available the Adventist Commons Content to third parties;</li>
								<li>Disassemble, make alterations, decompile, reverse engineer, translate, and adapt the Adventist Commons Content;</li>
								<li>Distribute, rent, loan, use, lease or attempt to grant other rights to the Adventist Commons Content to third parties; and</li>
								<li>Use any manual or automated means to scrap any content available on Adventist Commons. </li>
							</ul>
						</li>
						<li><h3>Third-party intellectual property.</h3> Some of the intellectual property assets, such as the User-Generated Content and the trademarks of third-party services, featured on Adventist Commons may be owned by the users of Adventist Commons and other third parties. Such third-party intellectual property does not belong to us and it remains the sole property of the respective third-party proprietors.</li>
						<li><h3>Our use of the User-Generated Content.</h3> By uploading the User-Generated Content onto Adventist Commons, the user acknowledges and agrees that we obtain the right to use the User-Generated Content for any purposes. The user grants us unrestricted, worldwide, sub-licensable, royalty-free, perpetual, and irrevocable rights to use, distribute, advertise, adapt, remix, modify, publicly display, publicly perform, excerpt, prepare derivative works of, and reproduce the User-Generated Content.</li>
						<li><h3>Copyright infringement claims.</h3> We respect intellectual property rights. If the user has any grounds to believe that any content made available on Adventist Commons violates user’s or third party’s intellectual property rights, we request the user to contact us and express user’s concerns or request us to remove the allegedly infringing content (our contact details are available at the end of the Terms). In the copyright infringement claim, please provide sufficient details allowing us to locate the allegedly infringing content on Adventist Commons. We will reply to the copyright infringement claim as soon as possible but no later than 2 weeks. </li>
						<li><h3>Sponsored content.</h3> The user acknowledges that, unless we are required by law to do so, we may not identify sponsored content or commercial communications. </li>
					</ol>
				</li>
				<li>
					<h2><a name="availability">AVAILABILITY</a></h2>
					<ol class="content-list">
						<li>We put reason able efforts to ensure that Adventist Commons is always accessible at all times. However, the availability of Adventist Commons may be affected by factors, which we cannot reasonably control, such as bandwidth problems, equipment failure, acts and omissions of our third-party service providers, or force majeure events. We take no responsibility for the unavailability of Adventist Commons caused by such factors.</li>
					</ol>
				</li>
				<li>
					<h2><a name="disclaimer-of-warranties">DISCLAIMER OF WARRANTIES</a></h2>
					<ol class="content-list">
						<li>We provide Adventist Commons on “as available”, “as is”, and “with all faults” basis. To the extent permitted by the applicable law, we do not make any representations or warranties about the reliability, suitability, and accuracy, for any purpose, of Adventist Commons, any content featured on Adventist Commons, whether provider by us, the users, or third parties, and hereby disclaim all warranties regarding Adventist Commons and its operation.</li>
						<li>It is user’s sole responsibility to verify and assess the fit for the purpose of Adventist Commons prior to using it and to decide whether or not Adventist Commons fits for the intended use.</li>
						<li>By using Adventist Commons, the user acknowledges that we may use third-party suppliers to provide software, hardware, storage, networking, and other technological services. The acts and omissions of third-party suppliers may be outside of our reasonable control. To the maximum extent permitted by law, we exclude any liability for any loss or damage resulting from the acts and omissions of such third-party suppliers. </li>
						<li>Nothing in these Terms shall affect any statutory rights that the user is entitled to as a consumer and that the user cannot contractually agree to alter or waive.</li>
					</ol>
				</li>
				<li>
					<h2><a name="limitation-of-liability">LIMITATION OF LIABILITY</a></h2>
					<ol class="content-list">
						<li>Unless otherwise excluded or limited by the applicable law, we will not be liable for any damages, including, but not limited to, incidental, punitive, special or other related damages, arising out or in connection with user’s use of Adventist Commons, any content made available through Adventist Commons, or any transactions concluded through Adventist Commons. The user agrees not to hold us liable in respect of any losses arising out of any event or events beyond our reasonable control. </li>
						<li>
							We will not be liable to the user for any direct, indirect or consequential losses, which may be incurred by the user in relation to Adventist Commons, such as:
							<ul>
								<li>Any health issues, cases of injuries and death experienced as a result of the use of Adventist Commons;</li>
								<li>Direct and indirect loss of profits;</li>
								<li>Loss of goodwill or business reputation; </li>
								<li>Loss of opportunities; and</li>
								<li>Loss of data.</li>
							</ul>
						</li>
						<li>
							We will not be liable to the user for any loss or damage, which may be incurred by the user as a result of:
							<ul>
								<li>Any changes which we may make to Adventist Commons, or for any permanent or temporary cessation in the provision of Adventist Commons or any features thereof;</li>
								<li>The deletion of, corruption of, or failure to store the User-Generated Content and other data maintained or transmitted by or through Adventist Commons;</li>
								<li>User’s failure to provide us with accurate personal data; </li>
								<li>Interactions between the users of Adventist Commons; </li>
								<li>User’s submission and use of the User-Generated Content; or</li>
								<li>Any reliance placed by the user on the completeness, accuracy or existence of any content, information, or recommendations featured on Adventist Commons.</li>
							</ul>
						</li>
						<li>This Section 10 shall apply whether or not we have been advised of or should have been aware of the possibility of any such losses arising.</li>
					</ol>
				</li>
				<li>
					<h2><a name="indemnification">INDEMNIFICATION</a></h2>
					<ol class="content-list">
						<li>The user agrees to indemnify, defend and hold the Company, its subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including attorneys’ fees, made by any third party due to or arising out of user’s breach of these Terms, user’s access and use of Adventist Commons, or user’s violation of any law or the rights of a third party, including intellectual property rights.</li>
					</ol>
				</li>
				<li>
					<h2><a name="severability">SEVERABILITY</a></h2>
					<ol class="content-list">
						<li>In the event that any provision of these Terms is determined to be unlawful, void or unenforceable, such a provision shall nonetheless be enforceable to the fullest extent permitted by the applicable law, and the unenforceable portion shall be deemed to be severed from these Terms. The validity and enforceability of the remaining provisions shall not be affected as a result.</li>
					</ol>
				</li>
				<li>
					<h2><a name="governing-law-and-disputes">GOVERNING LAW AND DISPUTES</a></h2>
					<ol class="content-list">
						<li><h3>Governing law.</h3> These Terms shall be governed and construed in accordance with the laws of Cyprus, without regard to its conflicts of law provisions. </li>
						<li><h3>Jurisdiction.</h3> The user agrees to resolve any disputes arising out of or relating to these Terms by means of negotiation with the Company. If the dispute cannot be resolved by means of negotiation, the dispute shall be submitted to an alternative dispute resolution (ADR) body. </li>
						<li><h3>Alternative dispute resolution (ADR).</h3> ADR body acts as an independent middleman between an Internet service provider and a customer when an initial complaint cannot be resolved. No legal assistance or representation is necessary for taking a case to an ADR scheme. The ADR body investigates complains by looking at consumer’s and Internet service provider’s arguments and comes to a decision it deems to be fair. More information on the online ADR platform provided by the European Commission is available at <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage</a> .</li>
					</ol>
				</li>
				<li>
					<h2><a name="miscellaneous">MISCELLANEOUS</a></h2>
					<ol class="content-list">
						<li><h3>Term and termination.</h3> The Terms enter into force on the date indicated at the top of the Terms and remain in force until updated or terminated by us or until the user stops using Adventist Commons. </li>
						<li><h3>Amendments.</h3> We reserve the right to modify these Terms at any time, effective upon posting of an updated version on Adventist Commons. Such amendments may be necessary due to the changes in the requirements of laws, regulations, new features of Adventist Commons, and our business practices. We will a notification (if we have user’s email address) about any material amendments to the Terms. User’s continued use of Adventist Commons after any changes shall constitute user’s consent to such changes. We also reserve the right to modify the services provided through Adventist Commons at any time, at our sole discretion.</li>
						<li>
							<h3>Breach of the Terms.</h3> If we believe, at our sole discretion, that the user violates these Terms and it is appropriate, necessary or desirable to do so, we may:
							<ul>
								<li>Send the user a formal warning;</li>
								<li>Temporarily or permanently prohibit the use of Adventist Commons; </li>
								<li>Report the user to the relevant public authorities; or</li>
								<li>Commence a legal action against the user.</li>
							</ul>
						</li>
						<li><h3>Transfer of rights.</h3> The user is not allowed to assign user’s rights under these Terms. We are entitled to transfer our rights and obligations under these Terms entirely or partially to a third party by giving a prior notice. If the user does not agree to the transfer, the user can terminate these Terms with immediate effect by and stopping to use Adventist Commons. </li>
						<li><h3>Merger or acquisition.</h3> In the event the Company, during the term of these Terms, is acquired, merged, or sells all or substantially all of its assets, these Terms shall not automatically be terminated and the Company agrees to use its best efforts to ensure that the transferee or surviving company shall assume and be bound by the provisions of these Terms.</li>
						<li><h3>Entire agreement.</h3> These Terms, together with the documents referred to therein, represent entire agreement between the user and us regarding user’s relationship with us and govern the use of Adventist Commons. </li>
					</ol>
				</li>
				<li>
					<h2><a name="contact">CONTACT</a></h2>
					<ol class="content-list">
						<li>
							Any questions and notices regarding these Terms should be sent to us by using the following contact details:
							<br /><strong>Email:</strong> <a href="info@adventistcommons.org">info@adventistcommons.org</a>
							<br /><strong>Postal address:</strong> Middle East Union Bldg., 45 Ferdous Street, Sabtieh, Metn, Beirut, Lebanon
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</div>
</div>

{% endblock %}
